{% extends "base.html" %}
{% load static %}
{% block title %}二级分类{% endblock %}
{% block head %}
    <style>
        #table td a {
            display: block;
            margin: .1rem auto;
        }

        .service-table table td {
            border: 1px solid #aaa;
            height: .6rem;
            min-width: .6rem;
            max-width: .8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #table td.operate a {
            display: inline-block;
        }

        #table .dropdown-menu {
            position: absolute;
            top: 32%;
            left: 4%;
            z-index: 999;
            float: left;
            min-width: 72px;
            padding: 0;
            margin: 0;
            font-size: 14px;
            text-align: center;
            list-style: none;
            background-color: #ffffff;
        }

        #table .dropdown-menu li {
            font-size: .12rem;
        }

        #table td .dropdown a {

        }

        #table td .mblock {
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 5px;
        }

        #edit-group　 {
            overflow: visible;
        }

    </style>
    <link rel="stylesheet" href="{% static 'css/selectImg.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/webuploader.css' %}"/>
{% endblock %}

{% block content %}
    <section class="top-sec top-bar" style="border: none;">
        <div class="cms-subtitle">
            <ol class="breadcrumb">
                <li><a href="{% url 'main_index' %}?t={{ t }}">{{ text }}</a></li>
                <li><a href="{% url 'main_index' %}?t={{ t }}">{{ v }}</a></li>
                <li><a href="{% url 'config_item' %}?t={{ t }}&v={{ v }}&c={{ c }}">{{ c }}</a></li>
                <li class="active">二级分类</li>
            </ol>

            {% if perms.man.config %}
                <a class="adbtn-new" href="{% url 'sc_new_second_category' %}?channel={{ channel }}"><b
                        style="font-size:.18rem">＋&nbsp</b>新建二级分类</a>
            {% endif %}

        </div>
    </section>

    <section class="service-table adservice-table">
        <table id="table">
            <caption></caption>
            <thead class="my_thead">
            <tr>
                <th>场景</th>
                <th>排序</th>
                <th>Service Name</th>
                <th>标题</th>
                <th>标题颜色</th>
                <th>状态</th>
                <th id="edit-group"></th>
                <th>ID</th>
                <th>图片</th>
                <th>名称</th>
                <th>排序</th>
                <th>电话</th>
                <th>查看附近分店搜索词</th>
                <th>搜索词分类</th>
                <th>搜索词</th>
                <th>搜索排序</th>
                <th>有效时间</th>
                <th>城市</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <div id="loading" style="display:none;">
                <img src="{% static 'images/loading.gif' %}"/>
            </div>
            <tbody id="tbody" class="tbody">

            </tbody>

        </table>
        <!-- 新建商品 -->
        <div class="modal fade" id="myModal_shop_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">+ 添加商家</h4>
                    </div>
                    <div class="modal-body">
                        <input name="open_type" value="0" id="open_type" type="hidden"/>
                        {# <input name="channel_id" value="{{ channel }}" id="channel_id" type="hidden"/>#}
                        <input name="status" value="0" id="status" type="hidden"/>

                        <div style="position: relative;display: inline-block;width: 100%;">

                            <div class="input-group-lg form-control item-dropmenu" id="itemselect">
                                <a data-value=""></a>
                                {% for shop in shops %}
                                    <a data-value="{{ shop.0 }}">{{ shop.1 }}</a>
                                {% endfor %}
                                {#                        <option class="form-control">测试0</option>#}
                                {#                        <option class="form-control">测试1</option>#}
                                {#                        <option class="form-control">测试2</option>#}
                            </div>

                            <input type="hidden" id="shop_id" name="shop_id" class="form-control real_id"
                                   style="width:400px;"/>
                            <input type="text" id="shop_uid" name="shop_uid" class="form-control item_id"
                                   style="width:100%;" required maxlength="11" placeholder="请选择下拉列表中的商家或输入搜索"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary"
                                onclick='addEventConfirm("shop_id","{% url 'sc_new_shop' %}")'>确定
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <!-- /.modal -->

        <div class="no_content"><p>暂无二级分类，请新建二级分类</p></div>
        <script src="{% static 'js/cms/pagination.js' %}"></script>
        <script type="text/javascript">
            //设置一个全局变量
            var category_item_id;
            $(document).ready(function () {
                setNavBg({{t}});
                requestData();
            });

            function CreateTable(data) //表格创建函数
            {
                if (data.length > 0) {
                    $(".my_thead").show();
                }
                if (data.length == 0) {
                    $(".no_content").show();
                    $(".my_thead").hide();
                }
                var tbody = $("<tbody>");
                var cellCount = 0;
                var rowCount = data.length;
                //console.log("数据总长度" + data[0].members[0].length);
                //console.log(data[1][cellCount-1]);


                $("#table tbody").remove();
                tbody.appendTo($("#table"));
                for (var i = 0; i < rowCount; i++) {
                    var tr = $("<tr class='primary' ></tr>");
                    tr.appendTo('table');
                    for (var j = 0; j < 6; j++) {
                        var td = $("<td>" + data[i].group[j] + "</td>");
                        //为色值cell填充色块
                        if (j == 4) {
                            var td = $("<td><span class='mblock' style='background-color:" + data[i].group[j] + "'></span></td>");
                        }
                        td.appendTo(tr);

                    }
                    if (data[i].group[6] == 1) {
                        var td = $("<td style='overflow:visible'><div class='dropdown'><a onclick='getID(this)' title='新建' class='btn dropdown-toggle glyphicon glyphicon-plus' data-id='" + data[i].group[7] + "'" +
                                "href='' data-toggle='modal' data-target='#myModal_shop_id'></a><a class='edit_streamsgroup glyphicon glyphicon-edit' " +
                                "href='{% url 'sc_edit_second_category' %}?id=" + data[i].group[7] + "&channel={{ channel }}' title='编辑组'></a><a href='' title='删除组' class='del glyphicon glyphicon-trash' data-toggle='modal' " +
                                "data-target='#myModal-del' ' onclick='groupConfirms(" + data[i].group[7] + ")'></a></div></td>");
                    } else if (data[i].group[6] == 0) {
                        var td = $("<td><a class='glyphicon glyphicon-eye-open'></a></td>");
                    }
                    td.appendTo(tr);
                    //console.log("删除组的id是"+data[i].group[3]);

                    var mLen = data[i].members.length; //获取data中的members的长度
                    if (mLen == 0) {
                        for (var j = 0; j <= 12; j++) {
                            var td = $("<td ></td>");
                            td.appendTo(tr);
                        }
                    }
                    if (mLen !== 0) {
                        var s0_count = data[i].members[0].length;
                        var td0_status= data[i].members[0][s0_count - 2];
                        for (var j = 0; j < 12; j++) {
                            var td = $("<td>" + data[i].members[0][j] + "</td>");

                            if (j == 1) {
                                var td = $("<td> <img src=" + getImgURL(data[i].members[0][j]) + " class='big' data-toggle='modal' data-target='#myModal_img'></td>");
                            }

                            td.appendTo(tr);
                        }

                        //显示编辑状态和顺序交换
                        if (data[i].members[0][12] == 1) {
                            if (mLen == 1) {
                                var td = $("<td class='operate edit-td' data-status='" + td0_status + "'><a data-id='" + data[i].members[0][13] + "' " +
                                        "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[0][13] + "' " +
                                        "class='del glyphicon glyphicon-trash' aria-hidden='true' title='删除' style='cursor: pointer' data-toggle='modal' " +
                                        "data-target='#myModal-del' onclick='confirms(" + data[i].members[0][13] + ",8" + ")'></a></td>");
                            } else if (mLen > 1) {
                                var td = $("<td class='operate edit-td' data-status='" + td0_status + "'><a data-id='" + data[i].members[0][13] + "' " +
                                        "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[0][13] + "' " +
                                        "class='del glyphicon glyphicon-trash' aria-hidden='true' title='删除' style='cursor: pointer' data-toggle='modal' " +
                                        "data-target='#myModal-del' onclick='confirms(" + data[i].members[0][13] + ",8" + ")'></a><br>" +
                                        "<a style='cursor:pointer' class='glyphicon glyphicon-arrow-down' " +
                                        "onclick='sort(" + data[i].members[0][13] + "," + data[i].members[1][13] + ")'></a></td>");
                            }
                        } else if (data[i].members[0][12] == 0) {
                            var td = $("<td class='edit-td' data-status='" + td0_status + "'><a class='glyphicon glyphicon-eye-open'></a></td>");
                        }

                        td.appendTo(tr);

                    }


                    for (var m = 1; m < mLen; m++) {
                        var s1_count = data[i].members[m].length;
                        var td_status=data[i].members[m][s1_count-2];
                        var mtr = $("<tr class='mtr' ></tr>");
                        var mtd = $("<td colspan='7'></td>");
                        $(".mtr:last").addClass('last');
                        $(mtr).prepend(mtd);
                        //$(tr).after(mtr);
                        $(tbody).append(mtr);

                        for (var j = 0; j < 12; j++) {
                            var td = $("<td>" + data[i].members[m][j] + "</td>");
                            if (j == 1) {
                                var td = $("<td> <img src=" + getImgURL(data[i].members[m][j]) + " class='big' data-toggle='modal' data-target='#myModal_img'></td>");
                            }
                            td.appendTo(mtr);
                        }

                        if (data[i].members[m][12] == 1) {
                            if (m == mLen - 1) {
                                var td = $("<td class='operate edit-td' data-status='" + td_status + "'><a data-id='" + data[i].members[m][13] + "' " +
                                        "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[m][13] + "' class='del glyphicon glyphicon-trash' " +
                                        "aria-hidden='true' title='删除' style='cursor: pointer' data-toggle='modal' data-target='#myModal-del' " +
                                        "onclick='confirms(" + data[i].members[m][13] + ",3" + ")'></a><br><a " +
                                        "style='cursor:pointer' class='glyphicon glyphicon-arrow-up sortup' " +
                                        "onclick='sort(" + data[i].members[m][13] + "," + data[i].members[m - 1][13] + ")'></a></td>");
                            } else {
                                var td = $("<td class='operate edit-td' data-status='" + td_status + "'><a data-id='" + data[i].members[m][13] + "' " +
                                        "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[m][13] + "' class='del glyphicon glyphicon-trash' " +
                                        "aria-hidden='true' title='删除' style='cursor: pointer' data-toggle='modal' data-target='#myModal-del' " +
                                        "onclick='confirms(" + data[i].members[m][13] + ",3" + ")'></a><br><a style='margin-right:.1rem;cursor:pointer' class='glyphicon glyphicon-arrow-up sortup' " +
                                        "onclick='sort(" + data[i].members[m][13] + "," + data[i].members[m - 1][13] + ")'></a><a " +
                                        "class='glyphicon glyphicon-arrow-down' style='cursor:pointer' onclick='sort(" + data[i].members[m][13] + "," + data[i].members[m + 1][13] + ")'></a></td>");
                            }
                        } else if (data[i].members[m][12] == 0) {
                            var td = $("<td class='edit-td' data-status='" + td_status + "'><a class='glyphicon glyphicon-eye-open'></a></td>");
                        }

                        td.appendTo(mtr);
                    }
                }

                $("table").append("</tbody>");
            }

            //相邻两个类别按照内容排序进行排序
            function sort(id1, id2) {
                $.ajax({
                    type: "post",
                    url: "{% url 'exchange_second_category' %}",
                    data: {
                        id1: id1,
                        id2: id2,
                        channel:{{channel}}
                    },
                    dataType: "json",
                    success: function (data) {
                        //console.log(data);
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            }

            function requestData() {
                $.ajax("{% url 'search_second_category' %}", {
                    type: "get",
                    cache: false,
                    data: {
                        channel: {{ channel }}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();

                        //loading.show();
                    },
                    success: function (result) {
                        CreateTable(eval(result));
                        hideExhangeIcon();
                        checkAuthority();
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });
            }


            //编辑时候跳转
            $("#table").on("click", "a.edit", function () {
                var id = $(this).data("id");
                var url = "";
                url = "{% url 'sc_edit_shop' %}?id=" + id + "&channel={{ channel }}";
                $(this).attr("href", url);
            });

            //确认删除组
            function groupConfirms(id) {
                var del_info = $(event.target).parents(".dropdown").parent().siblings().eq(3).text();//获取当前元素的父节点的兄弟节点的第二个节点
                $("span.del_info").text(del_info);
                $(".btn-primary").off("click").one("click", function (event) {
                    delGroup(id);
                });
            }

            //删除组函数
            function delGroup(id) {
                $.ajax("{% url 'sc_delete_second_category' %}", {
                    type: "post",
                    cache: false,
                    data: {
                        id: id,
                        channel:{{channel}}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function (result) {
                        if (result == 0) {
                            requestData();
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });
            }


            //删除商家和确认删除函数
            var url = "";
            function confirms(id, idx) {
                //获取当前元素的父节点的兄弟节点的第二个节点
                var del_info = $(event.target).parent().siblings().eq(idx).text();
                $("span.del_info").text(del_info);
                $(".btn-primary").off("click").one("click", function (event) {
                    url = "{% url 'sc_delete_shop' %}";
                    delstreams(id);
                });
            }


            function delstreams(id) {

                $.ajax(url, {
                    type: "post",
                    cache: false,
                    data: {
                        id: id,
                        channel:{{channel}}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function (result) {
                        if (result == 0) {
                            requestData();
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });
            }

            //获取要添加商品流的内容组的id，然后通过选择函数进行确认
            function getID(obj) {
                category_item_id = $(obj).data("id");
            }

            //商品选择函数
            function addEventConfirm(id, url) {
                var some_id = $('#' + id).val();
                var params = {category_item_id: category_item_id, channel_id:{{ channel }}};
                //var datas = id + "=" + some_id;
                var datas = $.param(params) + "&" + id + "=" + some_id;
                $.ajax({
                    type: "post",
                    url: url,
                    data: datas,
                    dataType: "json",
                    success: function (data) {
                        //console.log(data);
                        $('#myModal_' + id).modal('toggle');
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            }

        </script>

    </section>
{% endblock %}