{% extends "base.html" %}
{% load static %}
{% block title %}新分类{% endblock %}
{% block content %}
    <style>
        #table td a {
            display: block;
            margin: .1rem auto;
        }

        .service-table table td {
            border: 1px solid #aaa;
            height: 1.6rem;
            min-width: .6rem;
            max-width: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #table td.operate a {
            display: inline-block;
        }

        #table .dropdown-menu {
            position: absolute;
            top: 32%;
            left: -12%;
            z-index: 999;
            float: left;
            min-width: 72px;
            padding: 0;
            margin: 0;
            font-size: 14px;
            text-align: center;
            list-style: none;
            background-color: #ffffff;
        }

        #table .dropdown-menu li {
            font-size: .12rem;
        }

        #table td .dropdown a {
            margin: .1rem;
        }

        #table td .mblock {
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 5px;
        }
       
        @media screen and (min-width: 1366px) and (max-width: 1367px) {

            header {
                width: 120%;
            }

            article .content .top-bar {
                width: 122%;
            }
        }

        @media screen and (min-width: 2560px) {

            article {
                width: 93%;
            }

            article .content .top-bar {
                width: 98%;
            }
        }

    </style>

     <section class="top-sec">
       <span>
            <input type="search" name="keywords" value="" placeholder="请输入关键词搜索"
                   id="search"><span class="search_pic"><img
               src="{% static 'images/sousuo.png' %}"></span>
              <span class="clearInput" onclick="clearInput()"><a href="javascript:void(0)">×</a></span>
                 <a href="javascript:void(0)" class="search_val">
                     <span class="search-btn" onclick="requestData(1);">搜索</span>
                 </a>
      </span>

        {% if perms.man.config %}
            <a class="btn-new" href="{% url 'new_service' %}"><b style="font-size:.18rem">＋&nbsp</b>新建服务</a>
        {% endif %}

    </section>
    <section class="service-table adservice-table" >
        <table id="table">
            <caption></caption>
            <thead class="my_thead" >
            <tr>
                <th>
                <div class="dropdown" >
                    <button type="button" class="btn dropdown-toggle pt_btn_down" id="dropdownMenu1"
                    data-toggle="dropdown"  style="background-color: #cccccc;outline:none;color:#000;">
                   一级分类
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pt-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="min-width:120px;background-color: #cccccc;outline:none;color:#000;left:0px;top:40px;z-index:6666" >
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">不限</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">到家服务</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">功能服务</a>
                        </li>
                    </ul>
                </div>
                </th>
                <th>首页排序</th>
                <th>分类排序</th>
                <th>名称</th>
                <th>图标</th>
                <th>描述</th>
                <th>搜索关键词</th>
                <th>备注</th>
                <th>城市</th>
                <th>操作</th>
            </tr>
            </thead>

            <div id="loading" style="display:none;">
                <img src="{% static 'images/loading.gif' %}"/>
            </div>
            <tbody id="tbody" class="tbody">
            </tbody>
        </table>
        <div class="no_content"><p>暂无分类，请新建分类组</p></div>
        <div class="modal fade" id="myModal_service_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">+ 添加服务</h4>
                    </div>
                    <div class="modal-body">
                        <input name="open_type" value="0" id="open_type" type="hidden"/>
                        <input name="channel_id" value="{{ channel }}" id="channel_id" type="hidden"/>
                        <input name="status" value="0" id="status" type="hidden"/>

                        <div style="position: relative;display: inline-block;width: 100%;">
                            <div class="input-group-lg form-control item-dropmenu" id="itemselect">
                                <a data-value=""></a>
                                {% for service in services %}
                                    <a data-value="{{ service.0 }}">
                                        {{ service.1 }}{% if service.2 %}({{ service.2 }}){% endif %}</a>
                                {% endfor %}
                                {#                        <option class="form-control">测试0</option>#}
                                {#                        <option class="form-control">测试1</option>#}
                                {#                        <option class="form-control">测试2</option>#}
                            </div>

                            <input type="hidden" id="service_id" name="service_id" class="form-control real_id"
                                   style="width:400px;"/>
                            <input type="text" id="service_uid" name="service_uid" class="form-control item_id"
                                   style="width:100%;" required maxlength="11" placeholder="请选择下拉列表中的商品或输入搜索"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="common_ser_confirm"
                                onclick='addEventConfirm("service_id","{% url 'category_pages_services_new_service' %}")'>
                            确定
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <!-- /.modal -->
        <!-- 新建商品 -->
        <div class="modal fade" id="myModal_goods_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">+ 添加商品</h4>
                    </div>
                    <div class="modal-body">
                        <input name="open_type" value="0" id="open_type" type="hidden"/>
                        {# <input name="channel_id" value="{{ channel }}" id="channel_id" type="hidden"/>#}
                        <input name="status" value="0" id="status" type="hidden"/>

                        <div style="position: relative;display: inline-block;width: 100%;">
                            <div class="input-group-lg form-control item-dropmenu" id="itemselect">
                                <a data-value=""></a>
                                {% for good in goods %}
                                    <a data-value="{{ good.0 }}">
                                        {{ good.1 }}{% if good.2 %}({{ good.2 }}){% endif %}</a>
                                {% endfor %}
                                {#                        <option class="form-control">测试0</option>#}
                                {#                        <option class="form-control">测试1</option>#}
                                {#                        <option class="form-control">测试2</option>#}
                            </div>

                            <input type="hidden" id="goods_id" name="goods_id" class="form-control real_id"
                                   style="width:400px;"/>
                            <input type="text" id="goods_uid" name="goods_uid" class="form-control item_id"
                                   style="width:100%;" required maxlength="11" placeholder="请选择下拉列表中的商品或输入搜索"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary"
                                onclick='addEventConfirm("goods_id","{% url 'category_pages_services_new_goods' %}")'>确定
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
       
        <script type="text/javascript">
            $(document).ready(function () {
                setNavBg({{t}});
                requestData();
            });

            function CreateTable(data) //表格创建函数
            {
                if (data.length > 0) {
                    $(".my_thead").show();
                }
                if (data.length == 0) {
                    $(".no_content").show();
                    $(".my_thead").hide();
                }
                var tbody = $("<tbody>");
                var cellCount = 18;
                var rowCount = data.length;
                $("#table tbody").remove();
                tbody.appendTo($("#table"));
                for (var i = 0; i < rowCount; i++) {

                    var tr = $("<tr></tr>");
                    tr.appendTo(table);
                    for (var j = 0; j < 6; j++) {
                        var td = $("<td>" + data[i].group[j] + "</td>");
                        if (j == 3) {
                            var td = $("<td><span class='mblock' style='background-color:" + data[i].group[j] + "'></span></td>");
                        }
                        td.appendTo(tr);

                    }
                    if (data[i].group[6] == 1) {
                        // console.log(data[i].members.length);
                        var td = $("<td style='overflow:visible'><div class='dropdown'><a onclick='getID(this)' class='btn dropdown-toggle glyphicon glyphicon-plus' data-id='" + data[i].group[7] + "' id='dropdownMenu1' data-toggle='dropdown' " +
                                "href=''></a><a class='edit_group glyphicon glyphicon-edit' href='{% url 'category_pages_services_edit_group' %}?id="
                                + data[i].group[7] + "&channel={{ channel }}'></a><a href='' class='group_del glyphicon glyphicon-trash' data-toggle='modal' data-target='#myModal-del' ' onclick='groupConfirms("
                                + data[i].group[7] + ")'></a><ul class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu1'><li role='presentation'><a role='menuitem' tabindex='-1' href='#' data-toggle='modal' data-target='#myModal_goods_id'>商品</a></li><li role='presentation'><a role='menuitem' tabindex='-1' href='#' data-toggle='modal' data-target='#myModal_service_id'>服务</a></li><li role='presentation'><a role='menuitem' tabindex='-1' href='#' data-toggle='modal' data-target='#myModal_category_id' class='category' onclick='requestCategory(" + data[i].group[7] + ")'>分类</a></li></ul></div></td>");
                    } else if (data[i].group[6] == 0) {
                        var td = $("<td><a class='glyphicon glyphicon-eye-open'></a></td>");
                    }

                    td.appendTo(tr);
                    var mLen = data[i].members.length; //获取data中的beans的长度
                    if (mLen == 0) {
                        for (var j = 0; j <= 13; j++) {
                            var td = $("<td ></td>");
                            td.appendTo(tr);
                        }
                    }
                    if (mLen !== 0) {
                        var s0_count = data[i].members[0].length;
                        var td0_status = data[i].members[0][s0_count - 2];
                        var edit0_status = td0_status.split("/")[0];
                        var delete0_status = td0_status.split("/")[1];


                        for (var j = 0; j < 13; j++) {
                            var td = $("<td>" + data[i].members[0][j] + "</td>");
                            if (j == 0) {
                                if (data[i].members[0][j] != "") {
                                    var td = $("<td style='overflow:visible'> <img src=" + getImgURL(data[i].members[0][j]) + " class='big' data-toggle='modal' data-target='#myModal_img'></td>");
                                }
                            }
                            if (j == 4 || j == 6) {
                                var td = $("<td><span class='mblock' style='background-color:" + data[i].members[0][j] + "'></span></td>");
                            }

                            td.appendTo(tr);

                        }

                        //显示编辑状态和顺序交换
                        if (edit0_status == 1 && delete0_status == 1) {
                            if (mLen == 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit0_status + "'><a data-id='" + data[i].members[0][15] + "' " +
                                        "data-type='" + data[i].members[0][13] + "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[0][15] + "' " +
                                        "class='del glyphicon glyphicon-trash' aria-hidden='true' title='删除' style='cursor: pointer' data-toggle='modal' " +
                                        "data-target='#myModal-del' onclick='confirms(" + data[i].members[0][15] + "," + data[i].members[0][13] + ",7" + ")'></a></td>");
                            } else if (mLen > 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit0_status + "'><a data-id='" + data[i].members[0][15] + "' " +
                                        "data-type='" + data[i].members[0][13] + "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[0][15] + "' " +
                                        "class='del glyphicon glyphicon-trash' aria-hidden='true' title='删除' style='cursor: pointer' data-toggle='modal' " +
                                        "data-target='#myModal-del' onclick='confirms(" + data[i].members[0][15] + "," + data[i].members[0][13] + ",7" + ")'></a><br>" +
                                        "<a style='cursor:pointer' class='glyphicon glyphicon-arrow-down' " +
                                        "onclick='sort(" + data[i].members[0][15] + "," + data[i].members[1][15] + "," + data[i].members[0][13] + "," + data[i].members[1][13] + ")'></a></td>");
                            }
                        } else if (edit0_status == 1 && delete0_status == 0) {
                            if (mLen == 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit0_status + "'><a data-id='" + data[i].members[0][15] + "' " +
                                        "data-type='" + data[i].members[0][13] + "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='cursor: pointer'></a></td>");
                            } else if (mLen > 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit0_status + "'><a data-id='" + data[i].members[0][15] + "' " +
                                        "data-type='" + data[i].members[0][13] + "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='cursor: pointer'></a><br>" +
                                        "<a style='cursor:pointer' class='glyphicon glyphicon-arrow-down' " +
                                        "onclick='sort(" + data[i].members[0][15] + "," + data[i].members[1][15] + "," + data[i].members[0][13] + "," + data[i].members[1][13] + ")'></a></td>");
                            }
                        } else if (edit0_status == 0 && delete0_status == 1) {
                            if (mLen == 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit0_status + "'><a data-id='" + data[i].members[0][15] + "' " +
                                        "data-type='" + data[i].members[0][13] + "' class='edit glyphicon glyphicon-edit' title='编辑' aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[0][15] + "' " +
                                        "class='del glyphicon glyphicon-trash' aria-hidden='true' title='删除' style='cursor: pointer' data-toggle='modal' " +
                                        "data-target='#myModal-del' onclick='confirms(" + data[i].members[0][15] + "," + data[i].members[0][13] + ",7" + ")'></a></td>");
                            } else if (mLen > 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit0_status + "'><a data-id='" + data[i].members[0][15] + "' " +
                                        "class='del glyphicon glyphicon-trash' aria-hidden='true' title='删除' style='cursor: pointer' data-toggle='modal' " +
                                        "data-target='#myModal-del' onclick='confirms(" + data[i].members[0][15] + "," + data[i].members[0][13] + ",7" + ")'></a></td>");
                            }
                        } else if (edit0_status == 0 && delete0_status == 0) {
                            var td = $("<td class='edit-td' data-status='" + edit0_status + "'><a class='glyphicon glyphicon-eye-open'></a></td>");
                        }

                        td.appendTo(tr);
                    }


                    for (var m = 1; m < mLen; m++) {
                        var mtr = $("<tr class='mtr'></tr>");
                        var mtd = $("<td colspan='7'></td>");
                        var s1_count = data[i].members[m].length;
                        var td_status = data[i].members[m][s1_count - 2];
                        var edit_status = td_status.split("/")[0];
                        var delete_status = td_status.split("/")[1];
                        $(mtr).prepend(mtd);
                        $(tbody).append(mtr);
                        for (var j = 0; j < 13; j++) {
                            var td = $("<td>" + data[i].members[m][j] + "</td>");
                            if (j == 0) {
                                var td = $("<td style='overflow:visible'> <img src=" + getImgURL(data[i].members[m][j]) + " class='big' data-toggle='modal' data-target='#myModal_img'></td>");
                            }
                            if (j == 4 || j == 6) {
                                var td = $("<td><span class='mblock' style='background-color:" + data[i].members[0][j] + "'></span></td>");
                            }
                            td.appendTo(mtr);
                        }
                        //显示编辑状态和顺序交换
                        if (edit_status == 1 && delete_status == 1) {
                            if (m == mLen - 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit_status + "'><a data-id='" + data[i].members[m][15] + "' " +
                                        "data-type='" + data[i].members[m][13] + "' class='edit glyphicon glyphicon-edit'aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[m][15] + "' class='del glyphicon glyphicon-trash' " +
                                        "aria-hidden='true' style='cursor: pointer' data-toggle='modal' data-target='#myModal-del' " +
                                        "onclick='confirms(" + data[i].members[m][15] + "," + data[i].members[m][13] + ",3" + ")'></a><br><a " +
                                        "style='margin-right:.1rem;cursor:pointer' class='glyphicon glyphicon-arrow-up sortup' " +
                                        "onclick='sort(" + data[i].members[m][15] + "," + data[i].members[m - 1][15] + "," + data[i].members[m][13] + "," + data[i].members[m - 1][13] + ")'></a></td>");
                            }
                            else {
                                var td = $("<td class='operate edit-td' data-status='" + edit_status + "'><a data-id='" + data[i].members[m][15] + "' " +
                                        "data-type='" + data[i].members[m][13] + "' class='edit glyphicon glyphicon-edit'aria-hidden='true' " +
                                        "style='margin-right:10px;cursor: pointer'></a><a data-id='" + data[i].members[m][15] + "' class='del glyphicon glyphicon-trash' " +
                                        "aria-hidden='true' style='cursor: pointer' data-toggle='modal' data-target='#myModal-del' " +
                                        "onclick='confirms(" + data[i].members[m][15] + "," + data[i].members[m][13] + ",3" + ")'></a><br><a style='margin-right:.1rem;cursor:pointer' class='glyphicon glyphicon-arrow-up sortup' " +
                                        "onclick='sort(" + data[i].members[m][15] + "," + data[i].members[m - 1][15] + "," + data[i].members[m][13] + "," + data[i].members[m - 1][13] + ")'></a><a " +
                                        "class='glyphicon glyphicon-arrow-down' style='cursor:pointer' onclick='sort(" + data[i].members[m][15] + "," + data[i].members[m + 1][15] + "," + data[i].members[m][13] + "," + data[i].members[m + 1][13] + ")'></a></td>");
                            }
                        } else if (edit_status == 1 && delete_status == 0) {
                            if (m == mLen - 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit_status + "'><a data-id='" + data[i].members[m][15] + "' " +
                                        "data-type='" + data[i].members[m][13] + "' class='edit glyphicon glyphicon-edit'aria-hidden='true' " +
                                        "style='cursor: pointer'></a><br><a " +
                                        "style='margin-right:.1rem;cursor:pointer' class='glyphicon glyphicon-arrow-up sortup' " +
                                        "onclick='sort(" + data[i].members[m][15] + "," + data[i].members[m - 1][15] + "," + data[i].members[m][13] + "," + data[i].members[m - 1][13] + ")'></a></td>");
                            }
                            else {
                                var td = $("<td class='operate edit-td' data-status='" + edit_status + "'><a data-id='" + data[i].members[m][15] + "' " +
                                        "data-type='" + data[i].members[m][13] + "' class='edit glyphicon glyphicon-edit'aria-hidden='true' " +
                                        "style='cursor: pointer'></a><br><a style='margin-right:.1rem;cursor:pointer' class='glyphicon glyphicon-arrow-up sortup' " +
                                        "onclick='sort(" + data[i].members[m][15] + "," + data[i].members[m - 1][15] + "," + data[i].members[m][13] + "," + data[i].members[m - 1][13] + ")'></a><a " +
                                        "class='glyphicon glyphicon-arrow-down' style='cursor:pointer' onclick='sort(" + data[i].members[m][15] + "," + data[i].members[m + 1][15] + "," + data[i].members[m][13] + "," + data[i].members[m + 1][13] + ")'></a></td>");
                            }
                        } else if (edit_status == 0 && delete_status == 1) {
                            if (m == mLen - 1) {
                                var td = $("<td class='operate edit-td' data-status='" + edit_status + "'><a data-id='" + data[i].members[m][15] + "' class='del glyphicon glyphicon-trash' " +
                                        "aria-hidden='true' style='cursor: pointer' data-toggle='modal' data-target='#myModal-del' " +
                                        "onclick='confirms(" + data[i].members[m][15] + "," + data[i].members[m][13] + ",3" + ")'></a></td>");
                            }
                            else {
                                var td = $("<td class='operate edit-td' data-status='" + edit_status + "'><a data-id='" + data[i].members[m][15] + "' class='del glyphicon glyphicon-trash' " +
                                        "aria-hidden='true' style='cursor: pointer' data-toggle='modal' data-target='#myModal-del' " +
                                        "onclick='confirms(" + data[i].members[m][15] + "," + data[i].members[m][13] + ",3" + ")'></a></td>");
                            }
                        } else if (edit_status == 0 && delete_status == 0) {
                            var td = $("<td class='edit-td' data-status='" + edit_status + "'><a class='glyphicon glyphicon-eye-open'></a></td>");
                        }


                        td.appendTo(mtr);
                    }
                }
                $("table").append("</tbody>");
            }

            function sort(id1, id2, type1, type2) {
                $.ajax({
                    type: "post",
                    url: "{% url 'category_pages_services_exchange' %}",
                    data: {
                        id1: id1,
                        id2: id2,
                        type1: type1,
                        type2: type2,
                        channel: {{ channel }}
                    },
                    dataType: "json",
                    success: function (data) {
                        // console.log(data);
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            }
            function getID(obj) {
                group_id = $(obj).data("id");
                // console.log("获取到的id"+group_id);
            }
            function requestData() {
                $.ajax("{% url 'search_category_pages_services' %}", {
                    type: "get",
                    cache: false,
                    data: {
                        channel: {{channel}}
                    },
                    beforeSend: function(XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function(result) {
                        var data = eval(result);
                        CreateTable(data);
                        hideExhangeIcon();
                        checkAuthority();
                    },

                    error: function(result) {

                        console.log(result);
                    },
                    complete: function(result) {
                        $("#loading").hide();

                    }
                })
            }
             function requestCategory(id) {
                $.ajax("{% url 'category_pages_services_get_second_category' %}", {
                    type: "get",
                    cache: false,
                    data: {
                        id: id
                    },
                    beforeSend: function(XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function(result) {
                        var data = eval(result);
                        // alert(data);
                        $("#itemselect").html("");
                        for (var i in data) {
                            var value = data[i][0];
                            var html = data[i][1];
                            console.log(value, html);
                            console.log(data);
                            console.log(data[i][2]);
                            if (data[i][2]) {
                                html += "(" + data[i][2] + ")";
                            }
                            var astr = '<a data-value="' + value + '">' + html + '</a>';
                            $(astr).appendTo('#categoryselect');
                        }
                    },
                    error: function(result) {
                        console.log(result);
                    },
                    complete: function(result) {
                        $("#loading").hide();
                    },
                })
                }
    
                      $(".service-table").click(function(event) { //解决重复添加分类问题  
                         $("#categoryselect a").remove();

                       });

            function groupConfirms(id) {
                var del_info = $(event.target).parents(".dropdown").parent().siblings().eq(2).text(); //获取当前元素的父节点的兄弟节点的第二个节点
                $("span.del_info").text(del_info);
                $(".btn-primary").off("click").one("click", function (event) {
                    delGroup(id);
                });
            }

            function delGroup(id) {
                $.ajax("{% url 'category_pages_services_delete_group' %}", {
                    type: "post",
                    cache: false,
                    data: {
                        id: id,
                        channel: {{ channel }}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function (result) {
                        if (result == 0) {
                            requestData();
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });

            }
            $("#table").off("click").on("click", "a.edit", function () {
                var type = $(this).data("type");
                // alert(type);
                var id = $(this).data("id");
                var url = "";
                if (type == "1") {
                    url = "{% url 'category_pages_services_edit_category' %}?id=" + id + "&channel={{ channel }}";
                    $(this).attr("href", url);
                } else if (type == "2") {
                    url = "{% url 'category_pages_services_edit_service' %}?id=" + id + "&channel={{ channel }}";
                    $(this).attr("href", url);
                } else if (type == "3") {
                    url = "{% url 'category_pages_services_edit_goods' %}?id=" + id + "&channel={{ channel }}";
                    $(this).attr("href", url);
                }
            });
            var url = "";
            function confirms(id, param, idx) {
                //获取当前元素的父节点的兄弟节点的第二个节点
                var del_info1 = $(event.target).parent().siblings("td:nth-last-child(11)").text();
                var del_info = del_info1 + "-" + $(event.target).parent().siblings("td:nth-last-child(10)").text();
                $("span.del_info").text(del_info);
                $(".btn-primary").off("click").one("click", function (event) {
                    if (param == "1") {
                        url = "{% url 'category_pages_services_delete_category' %}";
                    }
                    if (param == "2") {
                        url = "{% url 'category_pages_services_delete_service' %}";
                    } else if (param == "3") {
                        url = "{% url 'category_pages_services_delete_goods' %}";
                    }
                    delItems(id);
                });
            }
            function delItems(id) {
                $.ajax(url, {
                    type: "post",
                    cache: false,
                    data: {
                        id: id,
                        channel: {{ channel }}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function (result) {
                        // alert(result);
                        if (result == 0) {
                            window.location.reload();
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });
            }

            //商品，服务和分类的通用函数
            function addEventConfirm(id, url) {
                var some_id = $('#' + id).val();
                var channel_id = $("#channel_id").val();
                //var params = {channel_id: channel_id};
                var params = {
                    navicategories_id: group_id,
                    channel_id: channel_id
                };
                //var datas = id + "=" + some_id;
                var datas = $.param(params) + "&" + id + "=" + some_id;
                $.ajax({
                    type: "post",
                    url: url,
                    data: datas,
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            $(".class_repeat").show();
                        } else {
                            $('#myModal_' + id).modal('toggle');
                            window.location.reload();
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            }
        </script>
    </section>
     <!-- /.modal -->
        <!-- 新建分类 -->
        <div class="modal fade" id="myModal_category_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">+ 添加分类</h4>
                    </div>
                    <div class="modal-body">
                        <input name="open_type" value="0" id="open_type" type="hidden"/>
                        {#<input name="channel_id" value="{{ channel }}" id="channel_id" type="hidden"/>#}
                        <input name="status" value="0" id="status" type="hidden"/>

                        <div style="position: relative;display: inline-block;width: 100%;">
                            <div class="input-group-lg form-control item-dropmenu" id="categoryselect">
                                <a data-value=""></a>
                                {% for category in categories %}
                                    <a data-value="{{ category.0 }}">{% if category.3 %}&nbsp;&nbsp;└&nbsp;
                                        &nbsp;{% endif %}{{ category.1 }}{% if category.2 %}({{ category.2 }}
                                        ){% endif %}</a>
                                {% endfor %}
                            </div>
                            <input type="hidden" id="category_id" name="category_id" class="form-control real_id"
                                   style="width:400px;"/>
                            <input type="text" id="category_uid" name="category_uid" class="form-control item_id"
                                   style="width:100%;" required maxlength="11" placeholder="请选择下拉列表中的商品或输入搜索"/>
                        </div>
                    </div>
                    <div class="class_repeat" style="text-align:center; color:red;font-size:.16rem;display:none">
                        <p>您已添加该分类，请勿重复添加</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary category-option"
                                onclick='addEventConfirm("category_id","{% url 'category_pages_services_new_category' %}")'>
                            确定
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <!-- /.modal -->
{% endblock %}
                   
                       