{% extends "finance_base.html" %}
{% block myhead %}
    <link rel="stylesheet" type="text/css" href="/static/css/multiselect.css" />
    <script type="text/javascript" src="/static/js/multiselect.js" ></script>
    <style type="text/css">
{#     td#}
{#        {#}
{#            white-space: nowrap;/*不允许td换行*/#}
{#        }#}
    </style>
{% endblock %}
{% block title %}财务对账{% endblock %}
{% block content %}
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onclick="updateTime(-6)">过去7天</button>
        <button type="button" class="btn btn-default" onclick="updateTime(-29)">过去30天</button>
        <button type="button" class="btn btn-default" onclick="updateTime(-89)">过去90天</button>
    </div>
    <div style="display: inline-table;vertical-align: middle;">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>自选范围
                            </span>
                            <input type="text" style="width: 200px;" name="date_control" id="date_control" class="form-control" readonly/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    到家CP类型：
    <select id="daojia_cp_types" multiple="multiple">
        <!--<option value="">总和</option>-->
        {% for daojia_cp_type in daojia_cp_types %}
            <option value="{{ daojia_cp_type.1 }} " {% if daojia_cp_type.1 == cur_daojia_cp_type %} selected="selected"{% endif %}>{{ daojia_cp_type.0 }}</option>
        {% endfor %}
    </select>
    <br />
    <br />
    <div class="loading_gif" style="display: none"></div>
{#    <DIV  style=" overflow-x: scroll; " align=center>   增加横向滚动条#}
    <table id="data_table" class=" table-striped table-bordered table-hover data_detail" style="font-size: 12px">
        <thead>
            <tr>
                <th colspan="9">
                    <span id="table_title">交易结算单</span>
                    <a id="export_csv" href="{% url batch_cp_statment_csv %}" class="t_right">
                        <!--<span class="glyphicon glyphicon-download-alt"></span>导出csv文件-->
                        <button type="button" class="btn btn-primary">导出结算单文件</button>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="colname">
                <td>对账开始时间</td>
                <td>对账结束时间</td>
                <td>业务类型</td>
                <td>服务提供商</td>
                <td>实收款</td>
                <td>实退款</td>
                <td>实付款</td>
                <td>营销成本</td>
                <td>异常金额</td>
            </tr>
        </tbody>
    </table>
    <script type="application/javascript">
        //本文件一些全局变量
        var g_per = 30;
        var g_current_page = 1;
        var g_date_control = $("#date_control");
        var g_data = [],g_period = 1,
                initStartDate = getURLParam("start_date") || (getDateStr("{{ currentdate }}", -29)),
                initEndDate = getURLParam("end_date") || "{{ currentdate }}";
        $(document).ready(function()
        {
            setTopNav(2, 1);
            loading.init(".loading_gif", "#data_table");
            modifyCsvHref(initStartDate.replace(/-/g, ""), initEndDate.replace(/-/g, ""));
            $('#daojia_cp_types').multiselect({
                disableIfEmpty: true,
                maxHeight: 200,
                filterPlaceholder: "搜索",
                enableFiltering: true,
                includeSelectAllOption: true,
                onChange: function(option, checked, select) {
                    requestData();

                },
                onDropdownHide: function(event) {
                    $(".multiselect-clear-filter").click();
                }

            });
            g_date_control.daterangepicker(
                {
                    locale:
                    {
                        applyLabel: "确定",
                        cancelLabel: "取消"
                    },
                    format: 'YYYY-MM-DD',
                    separator: ' 到 ', //前后有空格
                    startDate: initStartDate,
                    endDate: initEndDate,
                    maxDate: getDateStr(initEndDate, 1)// < maxDate
                },
                function(start, end, label)
                {
                    console.log(start.toISOString(), end.toISOString(), label);
                }
            ).val(initStartDate + " 到 "+ initEndDate);

            //点击apply触发事件
            g_date_control.on('apply.daterangepicker', function(ev, picker){
                requestData();
            });
            requestData();
        });

        function updateDividePage()
        {
            var count = 1 + parseInt((g_data.length - 1) / g_per);

            //在添加之前，先把现有元素移除掉
            $("[li_can_remove='yes']").remove();
            //添加li
            for(var i = count; i >= 1; i--)
            {
                var li = $("<li id='page_{0}' li_can_remove='yes'></li>".format(i));
                var a = $("<a href='javascript:void(0);' onclick='updateTable({0})'>{0}</a>".format(i));
                li.append(a);
                li.insertAfter(".pagination li:first");
            }
        }

        //参数i是页数
        function updateTable(page)
        {
            var total_page = 1 + parseInt((g_data.length - 1) / g_per);
            if(page <= 0 || page > total_page)
                return;

            g_current_page = page;
            //在添加之前，先把现有元素移除掉
            $("[tr_can_remove='yes']").remove();
            //添加元素
            for(var i = (page - 1) * g_per; i < g_per * page && i < g_data.length; i++)
            {
                var tr = $("<tr tr_can_remove='yes'></tr>");
                for(j in g_data[i])
                {
                    tr.append($("<td>{0}</td>".format(g_data[i][j])));
                }
                $("#data_table tbody").append(tr);
            }

            //更新分页框
            for(var i = 1; i <= total_page; i++)
            {
                if(i == page)
                    $("#page_" + i).addClass("active");
                else
                    $("#page_" + i).removeClass("active");
            }
        }

        //更新显示行数
        function updatePer(per)
        {
            g_per = per;
            updateDividePage();
            updateTable(1);
        }

        function requestData()
        {
            //截取出开始日期和结束日期
            var start_date = g_date_control.val().substr(0,10);
            var end_date = g_date_control.val().substr(13);
            //修改导出文件的href地址
            modifyCsvHref(start_date, end_date);
            postJSON("{% url batch_cp_statment_ajax %}",
                {
                    start_date: start_date,
                    end_date: end_date,
                    app: getURLParam("app"),
                    daojia_cp_type:$("#daojia_cp_types").val(),
                },
                function(data)
                {
                    //字符串转json
                    g_data = eval(data);
                    updateDividePage();
                    updateTable(1);
                }
            );
        }

        //更新时间，点击了"过去7天"、"过去30天"、"过去90天"
        function updateTime(delay)
        {
            var start_date = getDateStr("{{ currentdate }}", delay);
            var end_date = "{{ currentdate }}";

            g_date_control.data('daterangepicker').setStartDate(start_date);
            g_date_control.data('daterangepicker').setEndDate(end_date);
            g_date_control.val("{0} 到 {1}".format(start_date, end_date));
            requestData();
        }

        function modifyCsvHref(start_date, end_date)
        {
            //修改导出文件的href地址
            $("#export_csv").attr("href", "{% url batch_cp_statment_csv %}?start_date={0}&end_date={1}&ot={2}&app={3}&cp_type={4}&daojia_cp_type={5}".
                format(start_date, end_date, 110, getURLParam("app"), $("#cp_types").val(), $("#daojia_cp_types").val()));
        }

    </script>
{% endblock %}
