{% extends "base.html" %}
{% load static %}
{% block title %}新建优惠券{% endblock %}

{% block head %}
    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .dashhr {
            margin: 10px 0;
            border-top: 1px dashed #ccc;;
        }

        .sendmsg-form label {
            width: 16%;
            text-align: right;
            margin-right: 1%;
        }

        .sendmsg-form .form-control, .sendmsg-form select {
            display: inline-block;
            width: 80%;
        }

        .sendmsg-form .col-lg-12 .form-control {
            width: 90%;
            vertical-align: middle;
        }

        .sendmsg-form a.addpicbtn {
            cursor: pointer;
            font-size: 40px;
            padding: 10px 22px;
            border: 2px solid #999;
            color: #999;
            cursor: pointer;
        }

        .citylist {
            width: 90%;
            display: inline-block;
            vertical-align: top;
        }

        .correctbtn {
            color: #337ab7;
            margin-left: 470px;
            margin-bottom: 20px;
            display: none;
        }

        .correctbtn:hover {
            color: blue;
            cursor: pointer;
        }

        #validataDiv {
            padding-left: 10%;
        }

        #validataDiv .form-group label {
            width: 4%;
            text-align: left;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }

    </style>
    <link rel="stylesheet" href="{% static 'css/selectImg.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/multiple-select.css' %}"/>
{% endblock %}

{% block content %}
    <ul class="titlebar">
        <li><a href="{% url 'open_activity_channels' %}">优惠券管理</a></li>
        <li><a href="{% url 'open_coupon_create' %}">优惠券发放</a></li>
        <li class="active"><a href="{% url 'invite_gift' %}">邀请有礼</a></li>
    </ul>

    <h4 class="back">
        <a href="{% url 'invite_gift' %}"> <i class="glyphicon glyphicon-chevron-left"></i>返回邀请有礼管理</a>
    </h4>


    <div id="error-hints" style="display: inline">

    </div>

    <h6 class="warning">
        <span class="glyphicon glyphicon-exclamation-sign"></span>新增活动后将不能修改优惠券，如一定要请将此活动下架后新建另一个活动.
    </h6>
    <form class="sendmsg-form"><!-- {% csrf_token %}
   <input name="strategy" value="0" type="hidden" id="strategy">
    <input name="open_cp_id" value="0" type="hidden" >
    <input name="open_goods_id" value="0" type="hidden" >
    <input name="open_service_id" value="0" type="hidden" >
    <input name="open_coupon_id" value="0" type="hidden" >
    <input name="parent_id" value="-1" type="hidden" >
    <input name="mobile" value="0" type="hidden" >
    <input name="type" value="0" type="hidden" id="type"/>
    <input name="valid_time" value="" type="hidden" id="valid_time"/>
    <input name="fatherid" value="0" id="fatherid" type="hidden"/>-->


        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label><i>*</i>活动名称:</label>
                    <input type="text" class="form-control" name="name" id="name" required maxlength="20"
                           placeholder="填写活动名称,最长20字"/>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label><i></i> 活动描述:</label>
                    <textarea class="form-control" name="description" id="description"
                              placeholder="建议填写活动规则,便于未来查询,最长100字" maxlength="100"></textarea>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group" id="mytab1">
                    <label><i>*</i>邀请人每次获券:</label>
                        <span role="presentation"  class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="color: black; border:1px solid #000;" onclick="delSelect('v_share_coupons')">优惠券</a></span>
                        <span role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"  style="color: black; border:1px solid #000;" onclick="delSelect('share_coupons')">VIP卡</a></span>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <label ><i style="color: black;">优惠券</i></label>
                                <select name="cps" value="" id="share_coupons" multiple="multiple"></select>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile" >
                                <label><i style="color: black;">VIP卡</i></label>
                                <select name="v_cps" value="" id="v_share_coupons" ></select>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div id="all_num">
                    <!--<div class="form-group">-->
<!--{#                        <label><i></i></label>#}-->
<!--{#                        第&nbsp;<input type="number" style="width: 80px;" class="form-control" name="number" id="number" min="0"#}-->
<!--{##}-->
<!--{#                    />&nbsp;次#}-->
<!--{#                        <select name="nums" value="" id="nums" multiple="multiple"></select>#}-->
<!--{#                        <button href="#" type="button" class="btn btn-primary" name="del_num">删除</button>#}-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label><i></i></label>
                    <button type="button" class="btn btn-primary" id="add_num">继续添加梯度奖励</button>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group" id="mytab2">
                    <label><i>*</i>被邀请人可领券:</label>
                    <span role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab" style="color: black; border:1px solid #000;" onclick="delSelect('v_cids_b')">优惠券</a></span>
                    <span role="presentation" ><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab"  style="color: black; border:1px solid #000;" onclick="delSelect('cids_b')">VIP卡</a></span>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home2">
                            <label ><i style="color: black;">优惠券</i></label>
                            <select name="cps_b" value="" id="cids_b" multiple="multiple"></select>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile2" >
                            <label><i style="color: black;">VIP卡</i></label>
                            <select name="v_cps_b" value="" id="v_cids_b" ></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group" id="mytab3">
                    <label><i></i>被邀请人完成后领券:</label>
                    <span role="presentation" class="active"><a href="#home3" aria-controls="home" role="tab" data-toggle="tab" style="color: black; border:1px solid #000;" onclick="delSelect('v_cids_a')">优惠券</a></span>
                    <span role="presentation" ><a href="#profile3" aria-controls="profile" role="tab" data-toggle="tab"  style="color: black; border:1px solid #000;" onclick="delSelect('cids_a')">VIP卡</a></span>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home3">
                            <label ><i style="color: black;">优惠券</i></label>
                            <select name="cps_a" value="" id="cids_a" multiple="multiple"></select>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile3" >
                            <label><i style="color: black;">VIP卡</i></label>
                            <select name="v_cps_a" value="" id="v_cids_a" ></select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label><i>*</i>起始时间:</label>
                    <input type="datetime-local" class="form-control" min="1999-12-31T23:59" max="9999-12-31T23:59"
                           name="start_time" id="start_time" required/>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label><i>*</i> 结束时间</label>
                    <input type="datetime-local" class="form-control" min="1999-12-31T23:59" max="9999-12-31T23:59"
                           name="end_time" id="end_time" required/>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label><i>*</i>我的页引导语:</label>
                    <input type="text" class="form-control" name="ye" id="ye" required maxlength="16"
                           placeholder="最长可输入16个字"/>
                </div>
            </div>
            <!--{#            <div class="col-lg-12">#}-->
            <!--{#                <div class="form-group">#}-->
            <!--{#                    <label><i>*</i> 分享有效期：</label>#}-->
            <!--{#                    <input type="number" class="form-control" name="link_valid_days" id="link_valid_days" required#}-->
            <!--{#                           placeholder="分享链接有效期，如果为0则与活动时间一致"/>#}-->
            <!--{#                </div>#}-->
            <!--{#            </div>#}-->
            <!--{#            <div class="col-lg-12">#}-->
            <!--{#                <div class="form-group">#}-->
            <!--{#                    <label><i>*</i>活动规则:</label>#}-->
            <!--{#                    <input type="text" class="form-control" name="activity_rule" id="activity_rule" required#}-->
            <!--{#                           placeholder="活动规则"/>#}-->
            <!--{#                </div>#}-->
            <!--{#            </div>#}-->
            <!--{##}-->
            <!--{#            <div class="col-lg-12">#}-->
            <!--{#                <div class="form-group">#}-->
            <!--{#                    <label><i>*</i>分享次数上限:</label>#}-->
            <!--{#                    <input type="number" class="form-control" name="coupon_count" id="coupon_count" required#}-->
            <!--{#                           placeholder="活动分享的单个链接参与次数上限"/>#}-->
            <!--{#                </div>#}-->
            <!--{#            </div>#}-->
            <!--{#            <div class="col-lg-12">#}-->
            <!--{#                <div class="form-group">#}-->
            <!--{#                    <label><i>*</i>单人单日次数限制:</label>#}-->
            <!--{#                    <input type="number" class="form-control" name="daily_pick_limit" id="daily_pick_limit" required#}-->
            <!--{#                           placeholder="单人单日参与活动次数限制"/>#}-->
            <!--{#                </div>#}-->
            <!--{#            </div>#}-->
            <!--{##}-->
            <!--{##}-->
            <!--{#            <div class="col-lg-12">#}-->
            <!--{#                <div class="form-group">#}-->
            <!--{#                    <label><i>*</i>链接点击多少次出券:</label>#}-->
            <!--{#                    <input type="number" class="form-control" name="share_count" id="share_count" required#}-->
            <!--{#                           placeholder="分享链接被点击多少次才给分享人发券"/>#}-->
            <!--{#                </div>#}-->
            <!--{#            </div>#}-->
            <!--{#            <div class="col-lg-12">#}-->
            <!--{#                <div class="form-group">#}-->
            <!--{#                    <label><i>*</i>是否给分享人券:</label>#}-->
            <!--{#                    <select class="input-group-lg form-control" name="is_share_award" value="" required#}-->
            <!--{#                            id="is_share_award">#}-->
            <!--{#                        <option class="form-control" value="0">否</option>#}-->
            <!--{#                        <option class="form-control" value="1">是</option>#}-->
            <!--{#                    </select>#}-->
            <!--{#                </div>#}-->
            <!--{#            </div>#}-->
        </div>


        <div class="row text-center">
            <a class="btn btn-default col-lg-1 col-lg-offset-4" href="{% url 'invite_gift' %}">取消</a>
            <input type="submit" class="btn btn-success col-lg-1 col-lg-offset-1" value="提交"/>
        </div>


    </form>
    <script type="text/javascript" src="{% static 'js/multiple-select.js' %}"></script>
    <script type="text/javascript">
        var curCId, editFlag = false, databaseObject = {};
        var select_data = '';
        var vip_data = '';
        var num_id = 1;
        window.onload = function () {
            setNavBg("activity_config");
            getCurGoods();
            getVipGoods();
            function getCurGoods() {
                $.ajax({
                    url: '/coupons_valid/',
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        select_data = data;
                        $.each(data, function (i, ele) {
                            $("[name=cps]").append("<option value='" + ele.cid + "'>" + ele.name + "</option>");
                        });
                        $("[name=cps]").multipleSelect({
                            filter: true,
                            width: '30%'
                        });
                        $.each(data, function (i, ele) {
                            $("[name=cps_b]").append("<option value='" + ele.cid + "'>" + ele.name + "</option>");
                        });
                        $("[name=cps_b]").multipleSelect({
                            filter: true,
                            width: '30%'
                        });
                        $.each(data, function (i, ele) {
                            $("[name=cps_a]").append("<option value='" + ele.cid + "'>" + ele.name + "</option>");
                        });
                        $("[name=cps_a]").multipleSelect({
                            filter: true,
                            width: '30%'
                        });
                        $.each(data, function (i, ele) {
                            $("[name=nums]").append("<option value='" + ele.cid + "'>" + ele.name + "</option>");
                        });
                        $("[name=nums]").multipleSelect({
                            filter: true,
                            width: '30%'
                        });
                    }
                })
            }
            function getVipGoods() {
                $.ajax({
                    url: '/vip/list/',
                    type: 'GET',
                    async: false,
                    success: function (data) {
                        vip_data = data;
                        $.each(data, function (i, ele) {
                            $("[name=v_cps]").append("<option value='" + ele.vid + "'>" + ele.vname + "</option>");
                        });
                        $("[name=v_cps]").multipleSelect({
                            single: true,
                            filter: true,
                            width: '30%'
                        });
                        $("[name=v_cps]").multipleSelect("uncheckAll");
                        $.each(data, function (i, ele) {
                            $("[name=v_cps_b]").append("<option value='" + ele.vid + "'>" + ele.vname + "</option>");
                        });
                        $("[name=v_cps_b]").multipleSelect({
                            filter: true,
                            single: true,
                            width: '30%'
                        });
                        $("[name=v_cps_b]").multipleSelect("uncheckAll");
                        $.each(data, function (i, ele) {
                            $("[name=v_cps_a]").append("<option value='" + ele.vid + "'>" + ele.vname + "</option>");
                        });
                        $("[name=v_cps_a]").multipleSelect({
                            filter: true,
                            single: true,
                            width: '30%'
                        });
                        $("[name=v_cps_a]").multipleSelect("uncheckAll");
                        $.each(data, function (i, ele) {
                            $("[name=v_nums]").append("<option value='" + ele.vid + "'>" + ele.vname + "</option>");
                        });
                        $("[name=v_nums]").multipleSelect({
                            filter: true,
                            single: true,
                            width: '30%'
                        });
                        $("[name=v_nums]").multipleSelect("uncheckAll");
                    }
                })
            }

            if (GetQueryString('id')) {
                curCId = GetQueryString('id');
                editFlag = true;
                $.get('/invite_gift/?id=' + curCId, function (data) {
                    console.log(data)
                    if (data.code == 0) {
                        var curCoupon = data.data;
                        $("#cost_type").val(curCoupon["cost_type"]).change();
                        for (key in curCoupon) {
//                            console.log(key,curCoupon[key].length)
                            if ($('[name=' + key + ']').length > 0 && key != 'share_coupons'  && key != 'v_cids_b' && key != 'cids_a' && key != 'cids_b' && key != 'award' && key != 'v_share_coupons' && key != 'v_cids_a') {
                                if (key == 'end_time' || key == 'start_time') curCoupon[key] = curCoupon[key].replace(' ', 'T');
                                $('[name=' + key + ']').val(curCoupon[key]);
                            }
                            else if (key == 'cids_a' && curCoupon[key].length >0) {
//                                console.log(1)
                                $('#mytab3 a:first').tab('show')
                                $("[name=cps_a]").multipleSelect("setSelects", eval(curCoupon[key]));
                                $("[name=cps_a]").multipleSelect("disable");
                            }
                            else if (key == 'v_cids_a' && curCoupon[key].length >0) {
//                                console.log(2)
                                $('#mytab3 a:last').tab('show')
                                $("[name=v_cps_a]").multipleSelect("setSelects", eval(curCoupon[key]));
                                $("[name=v_cps_a]").multipleSelect("disable");
                            }
                            else if (key == 'cids_b' && curCoupon[key].length >0) {
//                                console.log(3)
                                $('#mytab2 a:first').tab('show')
                                $("[name=cps_b]").multipleSelect("setSelects", eval(curCoupon[key]));
                                $("[name=cps_b]").multipleSelect("disable");
                            }
                            else if (key == 'v_cids_b' && curCoupon[key].length >0) {
//                                console.log(4)
                                $('#mytab2 a:last').tab('show')
                                $("[name=v_cps_b]").multipleSelect("setSelects", eval(curCoupon[key]));
                                $("[name=v_cps_b]").multipleSelect("disable");
                            }
                            else if(key == 'share_coupons' && curCoupon[key].length >0) {
//                                console.log(5)
                                $('#mytab1 a:first').tab('show')
                                $("[name=cps]").multipleSelect("setSelects", eval(curCoupon[key]));
                                $("[name=cps]").multipleSelect("disable");
                            }
                            else if (key == 'v_share_coupons' && curCoupon[key].length >0) {
//                                console.log(6)
                                $('#mytab1 a:last').tab('show')
                                $("[name=v_cps]").multipleSelect("setSelects", eval(curCoupon[key]));
                                $("[name=v_cps]").multipleSelect("disable");
                            }
                            else if (key == 'award') {
                                var awa = eval(curCoupon[key]);
//                                //console.log(awa);
                                $('#all_num .form-group').remove();
                                for (var i in awa) {
                                    htmlstr = '<div class="form-group" id="haha_'+i+'"><label><i> </i></label> 第&nbsp;<input type="number" style="width: 80px;" ' +
                                            'class="form-control" value="' + awa[i].number + '" name="number" id="number" required  min="1" />&nbsp;次 ' +
                                            '<span role="presentation" class="active"><a href="#homes_' + i + '" aria-controls="homes" role="tab" data-toggle="tab" style="color: black; border:1px solid #000;" onclick="delSelect_n('+"'"+'v_nums_' + i +"'"+')">优惠券</a></span>' +
                                            '<span role="presentation" class=""><a href="#profiles_' + i + '" aria-controls="profiles" role="tab" data-toggle="tab" style="color: black; border:1px solid #000;" onclick="delSelect_n('+"'"+'nums_' + i +"'"+')">VIP卡</a></span>' +
                                            '<div class="tab-content">' + '<div role="tabpanel" class="tab-pane active" id="homes_' + i + '">' +
                                            '<label ><i style="color: black;">优惠券</i></label>' +
                                            '<select name="nums_' + i + '" value="" id="nums" multiple="multiple" >' +
                                            '</select></div>' + '<div role="tabpanel" class="tab-pane" id="profiles_' + i + '">' +
                                            '<label><i style="color: black;">VIP卡</i></label>' +
                                            '<select name="v_nums_' + i + '" value="" id="v_nums" ></select></div></div>' +
                                            ' <button href="#" type="button" class="btn btn-primary" name="del_num" >删除</button> </div>';
                                    //console.log('3',select_data);
//                                    htmlstr = '<div class="form-group"><label><i> </i></label> 第&nbsp;<input type="number" style="width: 80px;" ' +
//                                            'class="form-control" value="' + awa[i].number + '" name="number" id="number" required/>&nbsp;次 <select name="nums_' + i + '"  id="nums" multiple="multiple" >' +
//                                            '</select> <button href="#" type="button" class="btn btn-primary" name="del_num" >删除</button> </div>';
                                    $('#all_num').append(htmlstr);


//                                    console.log(awa[i].cids)
                                    if (awa[i].cids=== null){
                                        $.each(vip_data, function (ii, ele) {
                                        $("[name=v_nums_" + i + "]").append("<option value='" + ele.vid + "'>" + ele.vname + "</option>");
                                        });
                                        $("[name=v_nums_" + i + "]").multipleSelect({
                                            filter: true,
                                            single: true,
                                            width: '30%'
                                        });
                                        $("[name=v_nums_" + i + "]").multipleSelect('refresh');
                                        $("[name=v_nums_" + i + "]").multipleSelect("uncheckAll");

                                        var l = []
                                        l.push(awa[i].vip_charge)
//                                        console.log(awa[i].vip_charge)
                                        $("#haha_"+i+" a:last").tab('show')
                                        $("[name=v_nums_" + i + "]").multipleSelect("setSelects", l);
                                        $("[name=v_nums_" + i + "]").multipleSelect("disable");
                                    }else{
                                        $.each(select_data, function (ii, elel) {
                                        $("[name=nums_" + i + "]").append("<option value='" + elel.cid + "'>" + elel.name + "</option>");
                                        });
                                        $("[name=nums_" + i + "]").multipleSelect({
                                            filter: true,
                                            width: '30%'
                                        });
                                        $("[name=nums_" + i + "]").multipleSelect('refresh');
                                        console.log(awa[i].cids.split(','))
                                        $("#haha_"+i+" a:first").tab('show')
                                        $("[name=nums_" + i + "]").multipleSelect("setSelects", awa[i].cids.split(','));
                                        $("[name=nums_" + i + "]").multipleSelect("disable");
                                    }
                                }
                            }

                        };
                        $("#add_num").attr('disabled', 'disabled');
                        $("[name=del_num]").attr('disabled', 'disabled');
                        $("[name=number]").attr('disabled', 'disabled');
                        $("#name").attr('disabled', 'disabled');
                        $("#description").attr('disabled', 'disabled');
                        $("form a").removeAttr('onclick');
                        $("form a").attr('href','javascript:return false;');
                        $("form a").removeAttr('href');
                    }
                })
            } else {
                //getAllCp('')
            };
        }
//        <div class="form-group"><label><i>*</i>被邀请人可领券:</label>
//                    <span role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="color: black; border:1px solid #000;" onclick="delSelect('v_cids_b')">优惠券</a></span>
//                    <span role="presentation" ><a href="#profiles" aria-controls="profile" role="tab" data-toggle="tab"  style="color: black; border:1px solid #000;" onclick="delSelect('cids_b')">VIP卡</a></span>
//                    <div class="tab-content">
//                        <div role="tabpanel" class="tab-pane active" id="home2">
//                            <label ><i style="color: black;">优惠券</i></label>
//                            <select name="cps_b" value="" id="cids_b" multiple="multiple"></select>
//                        </div>
//                        <div role="tabpanel" class="tab-pane" id="profile2" >
//                            <label><i style="color: black;">VIP卡</i></label>
//                            <select name="v_cps_b" value="" id="v_cids_b" ></select>
//                        </div>
//                    </div>
//                </div>


        $("#add_num").click(function () {
            num_id += 1;
            htmlstr = '<div class="form-group"><label><i> </i></label> 第&nbsp;<input type="number" style="width: 80px;" ' +
                    'class="form-control" name="number" id="number" required  min="1" />&nbsp;次 ' +
                    '<span role="presentation" class="active"><a href="#homes_' + num_id + '" aria-controls="homes" role="tab" data-toggle="tab" style="color: black; border:1px solid #000;" onclick="delSelect_n('+"'"+'v_nums_' + num_id +"'"+')">优惠券</a></span>' +
                    '<span role="presentation" class=""><a href="#profiles_' + num_id + '" aria-controls="profiles" role="tab" data-toggle="tab" style="color: black; border:1px solid #000;" onclick="delSelect_n('+"'"+'nums_' + num_id +"'"+')">VIP卡</a></span>' +
                    '<div class="tab-content">' + '<div role="tabpanel" class="tab-pane active" id="homes_' + num_id + '">' +
                    '<label ><i style="color: black;">优惠券</i></label>' +
                    '<select name="nums_' + num_id + '" value="" id="nums" multiple="multiple" >' +
                    '</select></div>' + '<div role="tabpanel" class="tab-pane" id="profiles_' + num_id + '">' +
                    '<label><i style="color: black;">VIP卡</i></label>' +
                    '<select name="v_nums_' + num_id + '" value="" id="v_nums" ></select></div></div>' +
                    ' <button href="#" type="button" class="btn btn-primary" name="del_num" >删除</button> </div>';
            $('#all_num').append(htmlstr);
            $.each(select_data, function (i, ele) {
                $("[name=nums_" + num_id + "]").append("<option value='" + ele.cid + "'>" + ele.name + "</option>");
            });
            $("[name=nums_" + num_id + "]").multipleSelect({
                filter: true,
                width: '30%'
            });
            $.each(vip_data, function (i, ele) {
                $("[name=v_nums_" + num_id + "]").append("<option value='" + ele.vid + "'>" + ele.vname + "</option>");
            });
            $("[name=v_nums_" + num_id + "]").multipleSelect({
                filter: true,
                single: true,
                width: '30%'
            });
            $("[name=v_nums_" + num_id + "]").multipleSelect("uncheckAll");
//            console.log($("#all_num > div:eq(1) >div > div:visible > select").attr('id'))
        });
        $("#all_num").on("click", "[name=del_num]", function () {
            num_id -= 1;
            $(this).parent('div').remove();
        });

        $("form").submit(function (e) {
            e.preventDefault();
            var starttime = document.getElementById("start_time").value, endtime = document.getElementById("end_time").value;
            if (starttime > endtime) {
                var timeerror = '<ul><li>时间 ： 开始时间不能大于结束时间</li></ul>';
                $("#error-hints").html(timeerror);
                $("#error-hints").css('display', 'block');
                return false;
            };
            if ($("[name=cps]").multipleSelect("getSelects").length==0 && $("[name=v_cps]").multipleSelect("getSelects").length==0) {
                console.log($("[name=cps]").multipleSelect("getSelects").length,$("[name=v_cps]").multipleSelect("getSelects").length)
                var terror = '<ul><li>请选择邀请人每次获券</li></ul>';
                $("#error-hints").html(terror);
                $("#error-hints").css('display', 'block');
                return false;
            }
            if ($("[name=cps_b]").multipleSelect("getSelects")==0 && $("[name=v_cps_b]").multipleSelect("getSelects")==0) {
                var terror = '<ul><li>请选择被邀请人可获券</li></ul>';
                $("#error-hints").html(terror);
                $("#error-hints").css('display', 'block');
                return false;
            }
//{#            if ($("[name=cps_a]").multipleSelect("getSelects")==0) {#}
//{#                var terror = '<ul><li>请选择被邀请人完成后可获券</li></ul>';#}
//{#                $("#error-hints").html(terror);#}
//{#                $("#error-hints").css('display', 'block');#}
//{#                return false;#}
//{#            }#}
            if (curCId && editFlag) {
                $.ajax({
                    url: '/invite_gift/?id=' + curCId,
                    type: 'PUT',
                    data: JSON.stringify(getJsonParamter($("form").serializeArray())),
                    success: function (result) {
                        if (result.code == 0) {
                            window.location.href = '{% url "invite_gift" %}'
                        } else {
                            console.log(result.msg)
                        }
                    }
                })
            }
            else {

                var nums_id = $("#all_num > div");
                var ddict = [];
                for (var i = 0; i < nums_id.length; i++) {

                    var dlists = new Object();
                    var sel = $("#all_num > div:eq("+i+") >div > div:visible > select")
                    if (sel.multipleSelect("getSelects")==0) {
                        var terror = '<ul><li>请选择梯度奖励</li></ul>';
                        $("#error-hints").html(terror);
                        $("#error-hints").css('display', 'block');
                        return false;
                    }
                    //console.log($('[name=number]').eq(i).val())
                    var reg = /^[0-9]*$/;
                    if (!reg.test($('[name=number]').eq(i).val())) {
                        var terror = '<ul><li>梯度奖励次数不为小数</li></ul>';
                        $("#error-hints").html(terror);
                        $("#error-hints").css('display', 'block');
                        return false;
                    }
                    console.log('hha',$("#all_num > div:eq("+i+") >div > div:visible > select").attr('id'),$("#all_num > div:eq("+i+") >div > div:visible > select").multipleSelect("getSelects"))
                    dlists.id = $("#all_num > div:eq("+i+") >div > div:visible > select").multipleSelect("getSelects");
                    dlists.st = $("#all_num > div:eq("+i+") >div > div:visible > select").attr('id');
                    ddict.push(dlists)

                }
                var jdata = getJsonParamter($("form").serializeArray())
                jdata['nums'] = ddict;
                console.log(jdata['nums'])
                $.post('/invite_gift/', JSON.stringify(jdata), function (result) {
                    if (result.code == 0) {
                        window.location.href = '{% url "invite_gift" %}'
                    } else {
                        console.log(result.msg)
                    }
                });
            }
            function getJsonParamter(array) {

                var o = {};
                $.each(array, function () {
                    if (o[this.name]) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            }
        });
        checkForm({{ errors|safe }});
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1,                 //月份
                "d+": this.getDate(),                    //日
                "h+": this.getHours(),                   //小时
                "m+": this.getMinutes(),                 //分
                "s+": this.getSeconds(),                 //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds()             //毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };

        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);  //获取url中"?"符后的字符串并正则匹配
            var context = "";
            if (r != null)
                context = r[2];
            reg = null;
            r = null;
            return context == null || context == "" || context == "undefined" ? "" : context;
        }

        $("form input").focus(function () {
            $(this).css("border", "1px solid #ccc");
        });
        function delSelect(st) {
            $("#"+st).multipleSelect("uncheckAll");
        }
        function delSelect_n(st) {
//            console.log(st.toString())
            $("[name="+st.toString()+"]").multipleSelect("uncheckAll");
        }
    </script>
{% endblock %}

