<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
        深圳市葡萄信息技术有限公司
    </title>


    <link href="../public/css/bootstrap.min.css" rel="stylesheet">


    <!-- Documentation extras -->
    <!--<link href="../public/css/style.css" rel="stylesheet">-->
    <!-- Favicons -->
    <link rel="icon" href="">
</head>
<body>


<script src="../public/js/require.js' %}" data-main="../public/js/"></script>
</body>
</html>