{% extends "base.html" %}
{% load static %}
{% block title %}快捷下单{% endblock %}
{% block head %}
    <style>
        .my_thead {
            display: table-header-group;
        }

        #table tr td:nth-child(3) {
            text-align: left;
            padding-left: 20px;
        }

        #table td .mblock {
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 5px;
        }
    </style>
{% endblock %}

{% block content %}

    <section class="top-sec">
        <ol class="breadcrumb col-md-3">
            <li>
                <a href="{% url 'category' %}">分类</a>
            </li>
            <li class="active">
                快捷入口
            </li>
        </ol>
        <a class="btn-new" href="{% url 'edit_quick_order' %}"><b style="font-size:.18rem">＋&nbsp</b>新建快捷下单</a>

    </section>
    <section class="service-table">
        <div id="quick_orders">

            <table id="table">
                <caption></caption>
                <thead class="my_thead">
                <tr>
                    <th>序号</th>
                    <th>所属分类</th>
                    <th>快捷入口名称</th>
                    <th>入口描述</th>
                    <th>包含服务</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                {% verbatim %}
                <tr v-for="(index,quick_order) in quick_orders">
                    <template v-for="item in quick_order">
                        <td>{{item}}</td>
                    </template>
                    <td>
                        <a href="/main/tag_quick_order/?id={{ quick_order[0] }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                        <a href="/main/edit_quick_order/?id={{ quick_order[0] }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" v-on:click="delete(quick_order[0],index)"></span>
                    </td>
                </tr>
                {% endverbatim %}

                </tbody>
            </table>
        </div>
        <div class="no_content"><p>未找到相关内容，请重新搜索</p></div>

        <div id="pagination"></div>

    </section>
    <script src="{% static 'js/cms/initTable.js' %}"></script>
    <script src="{% static 'js/cms/category/quick_order.js' %}"></script>
{% endblock %}

