{% extends "base.html" %}
{% load static %}
{% block title %}广告{% endblock %}
{% block content %}
    <section class="top-sec top-bar" style="border: none">
        <div class="cms-subtitle">
            <ol class="breadcrumb">
                <li><a href="{% url 'main_index' %}?t={{ t }}">{{ text }}</a></li>
                <li><a href="{% url 'main_index' %}?t={{ t }}">{{ v }}</a></li>
                <li><a href="{% url 'config_item' %}?t={{ t }}&v={{ v }}&c={{ c }}">{{ c }}</a></li>
                <li class="active">广告列表</li>
            </ol>
            {% if perms.man.config %}
                <a class="adbtn-new" href="{% url 'new_adgroup' %}?channel={{ channel }}"><b style="font-size:.18rem">＋&nbsp</b>新建广告组</a>
            {% endif %}

        </div>
    </section>

    <section class="service-table adservice-table">
        <table id="table">
            <caption></caption>
            <thead class="my_thead">
            <tr>
                <th>场景</th>
                <th>排序</th>
                <th>篇幅</th>
                <th>类型</th>
                <th>状态</th>
                <th>操作</th>
                <th>图片</th>
                <th>名称</th>
                <th>内容排序</th>
                <th>动作</th>
                <th>有效时间</th>
                <th>城市</th>
                <th>机型</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <div id="loading" style="display:none;">
                <img src="{% static 'images/loading.gif' %}"/>
            </div>
            <tbody id="tbody" class="tbody">

            </tbody>

        </table>
        <div class="no_content"><p>暂无广告，请新建广告组</p></div>
        <div id="pagination"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                setNavBg({{t}});
                requestData();
            });
            function CreateTable(data) //表格创建函数
            {
                if (data.length > 0) {
                    $(".my_thead").show();
                }
                if (data.length == 0) {
                    $(".no_content").show();
                    $(".my_thead").hide();
                }
                var tbody = $("<tbody>");
                // var cellCount = 12;
                var rowCount = data.length;
                $("#table tbody").remove();
                tbody.appendTo($("#table"));
                //遍历添加组信息
                for (var i = 0; i < rowCount; i++) {
                    var tr = $("<tr class='primary' ></tr>");
                    var group_count=data[i].ad.length;
                    tr.appendTo(table);
                    for (var j = 0; j < 5; j++) {
                        var td = $("<td>" + data[i].ad[j] + "</td>");
                        td.appendTo(tr);
                    }
                    if(data[i].ad[group_count-2]=='1'){
                        var td = $("<td><a class=' glyphicon glyphicon-plus' href='{% url 'new_ads' %}?id=" + data[i].ad[group_count-1] + "&channel={{ channel }}'></a><a class='edit_group glyphicon glyphicon-edit' href='{% url 'edit_adgroup' %}?id=" +  data[i].ad[group_count-1]  + "&channel={{ channel }}'></a><a href='' class='del glyphicon glyphicon-trash' data-toggle='modal' data-target='#myModal-del' ' onclick='groupConfirms(" +  data[i].ad[group_count-1]  + ")'></a></td>");
                    }else if(data[i].ad[group_count-2]=='0'){
                        //不显示编辑状态
                        var td = $("<td><a class='glyphicon glyphicon-eye-open'></a></td>");
                    }
                    //var td = $("<td><a class=' glyphicon glyphicon-plus' href='{% url 'new_ads' %}?id=" + (group_count-1) + "&channel={{ channel }}'></a><a class='edit_group glyphicon glyphicon-edit' href='{% url 'edit_adgroup' %}?id=" + (group_count-1) + "&channel={{ channel }}'></a><a href='' class='del glyphicon glyphicon-trash' data-toggle='modal' data-target='#myModal-del' ' onclick='groupConfirms(" + (group_count-1) + ")'></a></td>");
                    td.appendTo(tr);

                    var mLen = data[i].beans.length; //获取data中的beans的长度

                    if (mLen == 0) {
                        for (var j = 0; j <= 8; j++) {
                            var td = $("<td ></td>");
                            td.appendTo(tr);
                        }
                    }
                    //添加组内广告条目
                    if (mLen !== 0) {
                        for (var m = 0; m < mLen; m++) {
                            var bean_count=data[i].beans[m].length;
                            if(m==0){
                                for (var k = 0; k < 8; k++) {
                                    var td = $("<td>" + data[i].beans[0][k] + "</td>");
                                    if (k == 0) {
                                        var td = $("<td> <img src=" + getImgURL(data[i].beans[0][k]) + " class='big' data-toggle='modal' data-target='#myModal_img'></td>");
                                    }
                                    td.appendTo(tr);
                                }
                                //根据传递参数，显示操作状态，0为可见，1为可编辑
                                if(data[i].beans[0][bean_count-2]==1){
                                    var td = $("<td><a href='{% url 'edit_ads' %}?id=" + data[i].beans[0][bean_count-1] + "&channel={{ channel }}' class='glyphicon-edit glyphicon'></a><a href='' class='glyphicon-trash glyphicon' data-toggle='modal' data-target='#myModal-del' onclick='confirms(" + data[i].beans[0][bean_count-1] + ")'></a></td>");
                                }else if(data[i].beans[0][bean_count-2]==0){
                                    //不显示编辑状态
                                    var td = $("<td><a class='glyphicon glyphicon-eye-open'></a></td>");
                                }
                                //var td = $("<td><a href='{% url 'edit_ads' %}?id=" + data[i].beans[0][bean_count-1] + "&channel={{ channel }}' class='glyphicon-edit glyphicon'></a><a href='' class='glyphicon-trash glyphicon' data-toggle='modal' data-target='#myModal-del' onclick='confirms(" + data[i].beans[0][bean_count-1] + ")'></a></td>");
                                td.appendTo(tr);
                            }else {
                                var mtr = $("<tr class='mtr' ></tr>");
                                var mtd = $("<td colspan='6'></td>");
                                $(".mtr:last").addClass('last');
                                $(mtr).prepend(mtd);
                                $(tbody).append(mtr);
                                for (var j = 0; j < 8; j++) {
                                    var td = $("<td>" + data[i].beans[m][j] + "</td>");
                                    if (j == 0) {
                                        var td = $("<td> <img src=" + getImgURL(data[i].beans[m][j]) + " class='big' data-toggle='modal' data-target='#myModal_img'></td>");
                                    }
                                    td.appendTo(mtr);
                                }
                                //根据传递参数，显示操作状态，0为可见，1为可编辑
                                if(data[i].beans[m][bean_count-2]==1){
                                    var td = $("<td><a href='{% url 'edit_ads' %}?id=" + data[i].beans[m][bean_count-1] + "&channel={{ channel }}' class='edit glyphicon-edit glyphicon'></a><a href='' class='del glyphicon-trash glyphicon ' data-toggle='modal' data-target='#myModal-del' onclick='confirms(" + data[i].beans[m][bean_count-1] + ")'></a></td>");
                                }else if(data[i].beans[m][bean_count-2]==0){
                                    //不显示编辑状态
                                    var td = $("<td><a class='glyphicon glyphicon-eye-open'></a></td>");
                                }
                                //var td = $("<td><a href='{% url 'edit_ads' %}?id=" + data[i].beans[m][bean_count-1] + "&channel={{ channel }}' class='edit glyphicon-edit glyphicon'></a><a href='' class='del glyphicon-trash glyphicon ' data-toggle='modal' data-target='#myModal-del' onclick='confirms(" + data[i].beans[m][bean_count-1] + ")'></a></td>");
                                td.appendTo(mtr);
                            }
                        }//the end of the loop for
                    }
                }
                $("table").append("</tbody>");
            }
            function requestData() {
                $.ajax("{% url 'search_ads' %}", {
                    type: "get",
                    cache: false,
                    data: {
                        channel: {{ channel }}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();

                        //loading.show();
                    },
                    success: function (result) {
                        CreateTable(eval(result));
                        checkAuthority();
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });
            }
            function groupConfirms(id) {
                var del_info = $(event.target).parent().siblings().eq(0).text();//获取当前元素的父节点的兄弟节点的第1个节点
                $("span.del_info").text(del_info);
                $(".btn-primary").off("click").one("click", function (event) {
                    delGroup(id);
                });
            }
            function delGroup(id) {
                $.ajax("{% url 'delete_ad' %}", {
                    type: "post",
                    cache: false,
                    data: {
                        ad: id,
                        channel: {{ channel }}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function (result) {
                        if (result == 0) {
                            requestData();
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });
            }
            function confirms(id) {
                //获取当前元素的父节点的兄弟节点的第二个节点
                var del_info = $(event.target).parent().siblings("td:nth-last-child(8)").text();
                $("span.del_info").text(del_info);
                $(".btn-primary").off("click").one("click", function (event) {
                    delads(id);
                });
            }
            function delads(id) {
                $.ajax("{% url 'delete_bean' %}", {
                    type: "post",
                    cache: false,
                    data: {
                        bean: id,
                        channel: {{ channel }}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function (result) {
                        if (result == 0) {
                            requestData();
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });
            }
        </script>

    </section>
{% endblock %}