{% extends "base.html" %}
{% load static %}
{% block title %}分享券{% endblock %}
{% block content %}
    <section class="top-sec">
        <ol class="breadcrumb" id="breadcrumb">
            <li><a href="{% url 'main_index' %}?t={{ t }}">{{ text }}</a></li>
            <li><a href="{% url 'main_index' %}?t={{ t }}">{{ v }}</a></li>
            <li><a href="{% url 'config_item' %}?t={{ t }}&v={{ v }}&c={{ c }}">{{ c }}</a></li>
            <li class="active">分享券</li>
        </ol>
        {% if perms.man.config %}
             <a class="adbtn-new" href="{% url 'new_share_coupon' %}?channel={{ channel }}"><b
                    style="font-size:.18rem">＋&nbsp</b>新增分享券</a>
        {% endif %}
    </section>
    <section class="service-table ">
        <table id="table">
            <caption></caption>
            <thead class="my_thead">
            <tr>
                <th>业务</th>
                <th>次数设置</th>
                <th>有效时间</th>
                <th>城市</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <div id="loading" style="display:none;">
                <img src="{% static 'images/loading.gif' %}"/>
            </div>
            <tbody id="tbody" class="tbody">

            </tbody>
        </table>
        <div class="modal fade" id="myModal_activity_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">新增分享券</h4>
                    </div>
                    <div class="modal-body">
                        <input name="open_type" value="0" id="open_type" type="hidden"/>
                        <input name="channel_id" value="{{ channel }}" id="channel_id" type="hidden"/>
                        <input name="status" value="0" id="status" type="hidden"/>

                        <div style="position: relative;display: inline-block;width: 100%;">
                            <div class="input-group-lg form-control item-dropmenu" id="itemselect">
                                <a data-value=""></a>
                                {% for coupon_activity in coupon_activities %}
                                    <a data-value="{{ coupon_activity.0 }}">{{ coupon_activity.1 }}</a>
                                {% endfor %}
                            </div>
                            <input type="hidden" id="activity_id" name="activity_id" class="form-control real_id"
                                   style="width:400px;"/>
                            <input type="text" id="service_uid" name="service_uid" class="form-control item_id"
                                   style="width:100%;" required maxlength="11" placeholder="请选择下拉列表中服务或输入搜索"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="common_ser_confirm"
                                onclick='addEventConfirm("activity_id","{% url 'coupon_new_activity' %}")'>确定
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <div class="no_content"><p>暂无分享券，请新建分享券</p></div>
        <div id="pagination"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                setNavBg({{t}});//导航高亮设置函数
                requestData();
            });
            function CreateTable(data) //表格创建函数
            {
                if (data.length > 0) {
                    $(".my_thead").show();
                }
                if (data.length == 0) {
                    $(".no_content").show();
                    $(".my_thead").hide();
                }
                var tbody = $("<tbody>"); //创建tbody
                // var cellCount = 6;
                var rowCount = data.length;


                $("#table tbody").remove();
                tbody.appendTo($("#table")); //将tbody插入到#table中
                for (var i = 0; i < rowCount; i++) {
                    var cellCount = data[i].length;
                    var td_status = data[i][cellCount - 2];
                    var tr = $("<tr class='" + data[i][cellCount - 1] + "'></tr>"); //建立表格列
                    tr.appendTo(table); //将列插入到table中

                    for (var j = 0; j < cellCount - 2; j++) {
                        var td = $("<td>" + data[i][j] + "</td>"); //动态添加td的数据
{#                       if (j == 1) {#}
{#                          if (data[i][j] != "") {#}
{#                            var td = $("<td style='overflow:visible'> <img src=" + getImgURL(data[i][j]) + " class='small' data-toggle='modal' data-target='#myModal_img'></td>");#}
{#                          }#}
{##}
{#                        }#}
                        td.appendTo(tr);
                        td.appendTo(tr); //将td插入到tr中
                    }
                    //根据传递参数，显示操作状态，0为可见，1为可编辑
                    if (data[i][cellCount - 2] == 1) {
                        var td = $("<td class='edit-td' data-status='" + td_status + "'><a href='{% url 'edit_share_coupon' %}?id=" + data[i][cellCount - 1] + "&channel={{ channel }}' class='edit glyphicon glyphicon-edit'></a><a  class='del glyphicon glyphicon-trash' data-toggle='modal' data-target='#myModal-del' onclick='confirms(" + data[i][cellCount - 1] + ")'></a> </td> "); //最后一列表格的按钮创建
                    } else if (data[i][cellCount - 2] == 0) {
                        //不显示编辑状态
                        var td = $("<td class='edit-td' data-status='" + td_status + "'><a class='glyphicon glyphicon-eye-open'></a></td>");
                    }
                    //var td = $("<td><a href='{% url 'edit_activity' %}?id=" + data[i][cellCount] + "&channel={{ channel }}' class='edit glyphicon glyphicon-edit'></a><a  class='del glyphicon glyphicon-trash' data-toggle='modal' data-target='#myModal-del' onclick='confirms(" + data[i][cellCount] + ")'></a> <a style='cursor:pointer' class='glyphicon glyphicon-arrow-up' onclick='sortUp()'></a><a style='cursor:pointer' class='glyphicon glyphicon-arrow-down' onclick='sortDown()'></a></td> "); //最后一列表格的按钮创建

                    td.appendTo(tr); //将td插入到tr
                   
                }
                $("table").append("</tbody>");
    
            }


          
            function requestData() {
                $.ajax("{% url 'search_share_coupon' %}", {
                    type: "get",
                    cache: false,
                    data: {
                        channel: {{ channel}}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function (result) {
                        CreateTable(eval(result));
                        hideExhangeIcon();
                        checkAuthority();
                        // console.log(result);
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").hide();
                    }
                });
            }
            function confirms(id) {
                var del_info = $(event.target).parent().siblings("td:nth-last-child(8)").text();
                $("span.del_info").text(del_info);
                $(".btn-primary").off("click").one("click", function (event) {
                    delData(id);
                });
            }
            function delData(id) {
                $.ajax("{% url 'del_share_coupon' %}", {
                    type: "post",
                    cache: false,
                    data: {
                        id: id,
                        channel: {{ channel }}
                    },
                    beforeSend: function (XMLHttpRequest) {
                        $("#loading").show();
                    },
                    success: function (result) {
                        if (result == 0) {
                            requestData();
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    complete: function (result) {
                        $("#loading").show();
                    }
                });
            }
            //商品，服务和分类的通用函数
            function addEventConfirm(id, url) {
                var some_id = $('#' + id).val();
                var channel_id = $("#channel_id").val();
                var params = {channel_id: channel_id};
                var datas = $.param(params) + "&" + id + "=" + some_id;
                $.ajax({
                    type: "post",
                    url: url,
                    data: datas,
                    dataType: "json",
                    success: function (data) {
                        // console.log("数据：" +data);
                        if (data == 1) {
                            $(".class_repeat").show();
                        }
                        else {
                            $('#myModal_' + id).modal('toggle');
                            window.location.reload();
                        }

                    },
                    error: function (data) {
                        console.log("errors is" + data);

                    }
                })
            }
        </script>
    </section>

{% endblock %}