{% extends "main-base.html" %}
{% block myhead %}
    <link rel="stylesheet" type="text/css" href="/static/css/multiselect.css" />
    <script type="text/javascript" src="/static/js/multiselect.js" ></script>
{% endblock %}
{% block title %}渠道列表{% endblock %}
{% block content %}
    选择查看渠道详情：
    <select class="chosen-select" id="channel" style="height: 40px">
        <option value=""></option>
        {% for channel in channels %}
            <option value="{{ channel }}">{{ channel }}</option>
        {% endfor %}
    </select>
    <a id="export_csv" href="{% url channel_list_csv %}" style="margin-left: 20px;">
        <span class="glyphicon glyphicon-download-alt"></span>导出csv文件
    </a>
    <br />
    <br />
    <div class="loading_gif" style="display: none"></div>
    <table id="data_table" class=" table-striped table-bordered table-hover data_detail">
        <thead>
            <tr>
                <th colspan="6">
                    <span>渠道列表</span>
                    <span id="table_detail" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"></span>
                    <span style="position: absolute;right:30px;" id="vp_type">
                        <a id="vp_type_1" href="javascript:void(0);" class="period_normal period_active" onclick="updateTime(1)">今日</a>
                        <a id="vp_type_2" href="javascript:void(0);" class="period_normal" onclick="updateTime(2)">昨日</a>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="cols">
                <td onclick="sortTable('name', this)" style="cursor:pointer;">渠道名<span class="glyphicon glyphicon-sort"></span></td>
                <td onclick="sortTable('new', this)" style="cursor:pointer;" class="sort_col">新增用户<span class="glyphicon glyphicon-sort"></span></td>
                <td onclick="sortTable('act', this)" style="cursor:pointer;">活跃用户<span class="glyphicon glyphicon-sort"></span></td>
                <td id="useapp_col" onclick="sortTable('use', this)" style="cursor:pointer;display: none;">启动次数<span class="glyphicon glyphicon-sort"></span></td>
                <td id="usetime_col" onclick="sortTable('time', this)" style="cursor:pointer;display: none;">单次使用时长<span class="glyphicon glyphicon-sort"></span></td>
                <td onclick="sortTable('acc', this)" style="cursor:pointer;">累计用户(占比)<span class="glyphicon glyphicon-sort"></span></td>
            </tr>
        </tbody>
    </table>
    <span>显示行数：</span>
    <select onchange="updatePer(this.value)" style="font-size: 12px;height: 30px;margin-right:30px;border-color:#ccc">
        <option>30</option>
        <option>90</option>
        <option>150</option>
    </select>
    <nav style="display: inline-block">
        <ul class="pagination" style="height:0;font-size: 12px;">
            <li>
                <a href="javascript:void(0);" aria-label="Previous" onclick="updateTable(g_current_page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--分页框-->
            <li>
                <a href="javascript:void(0);" aria-label="Next" onclick="updateTable(g_current_page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <script type="application/javascript">
        //本文件一些全局变量
        var g_per = 30;
        var g_current_page = 1;
        var g_data = {{ data|safe }};
        var g_cols = [
            ['name', 'str'],
            ['new', 'int'],
            ['act', 'int'],
            ['acc', 'int']
        ];
        var g_order = ["acc", "desc"];

        $(document).ready(function()
        {
            setLeftNav("nav_channel_list");
            loading.init(".loading_gif", "#data_table");
            var channel = $("#channel");
            channel.chosen({
                no_results_text: "Oops, nothing found!",//搜索不到的提示语
                search_contains: true,//可以让chosen搜索选项的中间字符
                width: "200px"
            }).change(function(){
                //document.location.href 返回完整的 URL。 如：http://www.cftea.com/foo.asp?p=1
                //location.search是从当前URL的?号开始的字符串
                location.href = "{% url one_channel %}?app={0}&channel={1}".format(getURLParam("app"), channel.val());
            });
            modifyCsvHref(1);
            $("#table_detail").tooltip({
                html: true,
                title: ([
                    '<div class="tongji_tip">',
                    '<p><span>新增用户：</span>第一次打开应用的用户总数（以ptCID为准）</p>',
                    '<p><span>活跃用户：</span>该时间段内至少启动过一次应用的用户称为1个活跃用户（去重，以ptCID为准）</p>',
                    '<p><span>启动次数：</span>打开应用即视为1次启动,完全退出或后台运行超过30s后再次进入应用，视为1次新的启动；</p>',
                    '<p><span>单次使用时长：</span>一次启动的使用时长</p>',
                    '<p><span>累计用户(占比)：</span>截止到当日，所有启动过应用的用户总数（占累计用户总数的比例）</p>',
                    '</div>'
                ]).join("")
            });

            //初始化分页框
            updateDividePage();
            //初始化table第一页
            updateTable(1);
            updateCol(1);
        });

        function updateDividePage()
        {
            var count = 1 + parseInt((g_data.length - 1) / g_per);

            //在添加之前，先把现有元素移除掉
            $("[li_can_remove='yes']").remove();
            //添加li
            for(var i = count; i >= 1; i--)
            {
                var li = $("<li id='page_{0}' li_can_remove='yes'></li>".format(i));
                var a = $("<a href='javascript:void(0);' onclick='updateTable({0})'>{0}</a>".format(i));
                li.append(a);
                li.insertAfter(".pagination li:first");
            }
        }

        //参数i是页数
        function updateTable(page)
        {
            var total_page = 1 + parseInt((g_data.length - 1) / g_per);
            if(page <= 0 || page > total_page)
                return;

            g_current_page = page;
            //在添加之前，先把现有元素移除掉
            $("[tr_can_remove='yes']").remove();
            //添加元素
            for(var i = (page - 1) * g_per; i < g_per * page && i < g_data.length; i++)
            {
                var tr = $("<tr tr_can_remove='yes'></tr>");
                for(j in g_data[i])
                {
                    if(j==0)
                        tr.append($("<td><a href='{% url one_channel %}?app={0}&channel={1}'>{1}</a></td>".format(getURLParam("app"), g_data[i][j])));
                    else
                        tr.append($("<td>{0}</td>".format(g_data[i][j])));
                }
                $("#data_table tbody").append(tr);
            }

            //更新分页框
            for(var i = 1; i <= total_page; i++)
            {
                if(i == page)
                    $("#page_" + i).addClass("active");
                else
                    $("#page_" + i).removeClass("active");
            }
        }

        //更新显示行数
        function updatePer(per)
        {
            g_per = per;
            updateDividePage();
            updateTable(1);
        }

        function requestData(type)
        {
            //修改导出文件的href地址
            modifyCsvHref(type);
            postJSON("{% url channel_list_ajax %}",
                {
                    app: getURLParam("app"),
                    type: type
                },
                function(data)
                {
                    //字符串转json
                    g_data = eval(data);
                    updatePeriodColor(type);
                    updateDividePage();
                    updateTable(1);
                    updateCol(type);
                }
            );
        }

        //更新时间，点击了"今日"、"昨日"
        function updateTime(type)
        {

            requestData(type);
        }

        function modifyCsvHref(type)
        {
            //修改导出文件的href地址
            $("#export_csv").attr("href", "{% url channel_list_csv %}?app={0}&type={1}".
                format(getURLParam("app"), type));
        }

        function updatePeriodColor(type)
        {
            $("#vp_type a").removeClass("period_active");
            $("#vp_type_" + type).addClass("period_active");
        }

        function sortTable(col, obj)
        {
            var index = get2Index(g_cols, col);
            var order = "desc";

            $("#cols td").removeClass("sort_col");
            $(obj).addClass("sort_col");

            if(g_order[0] != col)
                order = "desc";
            else if(g_order[1] == "asc")
                order = "desc";
            else if(g_order[1] == "desc")
                order = "asc";

            g_data = listSort(g_data, index, order, g_cols[index][1]);
            g_order = [col, order];
            updateTable(1);
        }

        function updateCol(type)
        {
            if(type == 1)
            {
                $("#useapp_col").hide();
                $("#usetime_col").hide();
                g_cols = [
                    ['name', 'str'],
                    ['new', 'int'],
                    ['act', 'int'],
                    ['acc', 'int']
                ];
            }
            else
            {
                $("#useapp_col").show();
                $("#usetime_col").show();
                g_cols = [
                    ['name', 'str'],
                    ['new', 'int'],
                    ['act', 'int'],
                    ['use', 'int'],
                    ['time', 'str'],
                    ['acc', 'int']
                ];
            }
            $("#cols td").css("width", "{0}%".format(100 / g_cols.length))
        }
    </script>
{% endblock %}