{% extends "main-base.html" %}
{% block myhead %}
    <link rel="stylesheet" type="text/css" href="/static/css/multiselect.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fileinput.css" />
    <script type="text/javascript" src="/static/js/multiselect.js" ></script>
    <script type="text/javascript" src="/static/js/fileinput.js" ></script>
    <script type="text/javascript" src="/static/js/fileinput_locale_zh.js" ></script>
    <style type="text/css">
        .modal-body > ul > li > input
        {
            width: 300px;
        }
    </style>
{% endblock %}
{% block title %}事件{% endblock %}
{% block content %}
    {% if eventform.errors %}
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <p>{{ eventform.errors }}</p>
        </div>
    {% endif %}
    <div class="loading_gif" style="display: none"></div>
    <table id="data_table" class=" table-striped table-bordered table-hover data_detail">
        <thead>
            <tr>
                <th colspan="7">
                    <span>事件管理</span>
                    <span id="table_detail" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"></span>
                    <div class="dropdown navbar-right" style="margin-right: 120px;">
                        <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                            <span class="glyphicon glyphicon-plus-sign" style="margin-right: 0"></span>
                            添加事件
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="#" data-toggle="modal" data-target="#handAdd" onclick="beforeAdd()">手工添加</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#uploadFile" onclick="">批量导入</a></li>
                        </ul>
                    </div>
                    <a href="#"  style="position: absolute;right:30px;" data-toggle="modal" data-target="#clearEvent">
                        <span class="glyphicon glyphicon-ban-circle" style="margin-right: 0"></span>
                        清空事件
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="cols">
                <td style="width:25%">事件ID</td>
                <td style="width:25%">事件名称</td>
                <td style="width:12.5%">事件类型</td>
                <td style="width:12.5%">业务分类</td>
                <td style="width:25%">操作</td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="handAdd" tabindex="-1" role="dialog" aria-labelledby="handAddLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="handAddLabel">
                        <span id="handAddIcon" style="margin-right: 0"></span>
                        <span id="handAddHead">添加事件</span>
                    </h4>
                </div>
                <form method="post" class="tjForm" id="eventForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <ul>
                            <li><span>{{ eventform.event_id.label }}：</span>{{ eventform.event_id }}</li>
                            <li><span>{{ eventform.event_name.label }}：</span>{{ eventform.event_name }}</li>
                            <li><span>{{ eventform.event_type.label }}：</span>{{ eventform.event_type }}</li>
                            <li><span>业务分类：</span>
                            <select id="category" onchange="$('#id_business_type').val($(this).val())">
                                <option value="">无</option>
                                {% for k,v in categorys.items %}
                                    <optgroup label="{{ k }}">
                                        {% for a in v %}
                                            <option value="{{ a.0 }}">{{ a.1 }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                            </li>
                            <li>{{ eventform.app_key }}</li>
                            <li>{{ eventform.business_type }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delItem" tabindex="-1" role="dialog" aria-labelledby="delItemLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delItemLabel">
                        <span class="glyphicon glyphicon-trash" style="margin-right: 0"></span>
                            删除事件
                    </h4>
                </div>
                <div class="modal-body">
                    您确定要删除&nbsp;<span style="font-weight: bold" id="delEventId"></span>&nbsp;事件吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="delItem()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="clearEvent" tabindex="-1" role="dialog" aria-labelledby="clearEventLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="clearEventLabel">
                        <span class="glyphicon glyphicon-ban-circle" style="margin-right: 0"></span>
                           清除事件
                    </h4>
                </div>
                <div class="modal-body">
                    您确定要清除该应用下的所有事件吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="clearEvent()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="uploadFileLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="uploadFileLabel">
                        <span class="glyphicon glyphicon-paperclip" style="margin-right: 0"></span>
                            批量导入
                    </h4>
                </div>
                <br />
                <form enctype="multipart/form-data">
                    <input id="uploadFileInput" class="file" type="file" multiple data-min-file-count="1">
                    <script type="application/javascript">
                        $('#uploadFileInput').fileinput({
                            uploadAsync: false,
                            language: 'zh',
                            uploadUrl: '{% url upload_event_file %}?app={0}'.format(getURLParam("app")),
                            allowedFileExtensions : ['csv']
                        }).on('filebatchuploadsuccess', function(event, data) {
                            requestData();
                        });
                    </script>
                    <br />
                </form>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        //本文件一些全局变量
        var g_data = [];
        var g_event_id = 0;
        var g_business_type = 0;

        $(document).ready(function()
        {
            setLeftNav("nav_events");
            loading.init(".loading_gif", "#data_table");
            $('#category').multiselect({
                disableIfEmpty: true,
                maxHeight: 200
            });
            $("#id_app_key").val(getURLParam("app"));
            $("#table_detail").tooltip({
                html: true,
                title: ([
                    '<div class="tongji_tip">',
                    '<p>您可以通过以下方式来管理事件</p>',
                    '<p><span>添加事件：</span>如果想使用自定义事件统计，必须先注册事件ID，这里提供了手动添加和批量导入两种方法。</p>',
                    '<p>批量导入只支持csv文件，编码格式为utf-8</p>',
                    '<p><span>编辑：</span>修改事件名称和类型</p>',
                    '<p><span>删除：</span>删除，不统计该事件</p>',
                    '</div>'
                ]).join("")
            });

            requestData();
        });

        function requestData()
        {
            postJSON("{% url events_ajax %}",
                {
                    app: getURLParam("app")
                },
                function(data)
                {
                    //字符串转json
                    g_data = eval(data);
                    updateTable();
                }
            );
        }

        function updateTable()
        {
            //在添加之前，先把现有元素移除掉
            $("[tr_can_remove='yes']").remove();
            //添加元素
            for(var i = 0; i < g_data.length; i++)
            {
                var tr = $("<tr tr_can_remove='yes'></tr>");
                for(var j in g_data[i])
                {
                    //最后一行，business id就不显示了
                    if(j == 0)
                        tr.append($("<td><a style='cursor:pointer' href='{% url event_detail %}?app={0}&eventid={1}'>{1}</a>".format(getURLParam("app"), g_data[i][0])));
                    else if (j < 4)
                        tr.append($("<td>{0}</td>".format(g_data[i][j])));
                }

                tr.append($("<td>{0}{1}</td>".format(
                        "<a style='cursor:pointer' data-toggle='modal' data-target='#handAdd' onclick='beforeEdit({0});'><span class='glyphicon glyphicon-edit'></span>编辑</a>".format(i),
                        "<a style='cursor:pointer;margin-left:30px;' data-toggle='modal' data-target='#delItem' onclick='beforeDelete({0})'><span class='glyphicon glyphicon-trash'></span>删除</a>".format(i)
                )));
                $("#data_table tbody").append(tr);
            }
        }

        //删除某项
        function delItem()
        {
            postJSON("{% url del_event %}",
                {
                    app: getURLParam("app"),
                    eventid: g_event_id
                },
                function(data)
                {
                    //字符串转json
                    g_data = eval(data);
                    updateTable();
                }
            );
        }

        //清除事件
        function clearEvent()
        {
            postJSON("{% url clear_event %}",
                {
                    app: getURLParam("app")
                },
                function(data)
                {
                    //字符串转json
                    g_data = eval(data);
                    updateTable();
                }
            );
        }

        //增加某项之前
        function beforeAdd()
        {
            $("#handAddIcon").attr("class", "glyphicon glyphicon-plus-sign");
            $("#handAddHead").html("添加事件");
            $("#id_event_id").val("").attr("readonly", null).removeClass("readonly");
            $("#id_event_name").val("");
            setRadio("event_type", "计数事件");
            $('#category').multiselect('deselect', g_business_type);
            $('#category').multiselect('select', "");
            $('#id_business_type').val("");
            $("#eventForm").attr("action", "{% url events %}?app={{ app }}");
        }

        //编辑某项之前
        function beforeEdit(i)
        {
            $("#handAddIcon").attr("class", "glyphicon glyphicon-edit");
            $("#handAddHead").html("编辑事件");
            $("#id_event_id").val(g_data[i][0]).attr("readonly", "readonly").addClass("readonly");
            $("#id_event_name").val(g_data[i][1]);
            setRadio("event_type", g_data[i][2]);
            g_business_type = g_data[i][4];
            $('#category').multiselect('deselect', "");
            $('#category').multiselect('select', g_data[i][4]);
            $('#id_business_type').val(g_data[i][4]);
            $("#eventForm").attr("action", "{% url edit_event %}?app={{ app }}");
        }

        //删除某项之前
        function beforeDelete(i)
        {
            g_event_id = g_data[i][0];
            $("#delEventId").html(g_data[i][0]);
        }

        function resetFile()
        {
            $("#importfile").val("");
        }
    </script>
{% endblock %}