{% extends "base.html" %}
{% load static %}
{% block title %}品牌列表{% endblock %}
{% block content %}
<style type="text/css">
</style>
<section class="top-sec">
   <span>
   <input type="search" name="keywords" value="" placeholder="请输入关键词搜索" id="search" ><span class="search_pic" ><img src="{% static 'images/sousuo.png' %}"></span>
    <span  class="clearInput" onclick="clearInput()"><a href="javascript:void(0)">×</a></span>
   <a href="javascript:void(0)" class="search_val"><span class="search-btn" onclick="requestData(1);">搜索</span></a>
   </span>

    {% if perms.man.config %}
        <a class="btn-new" href="{% url 'cp_category_list' %}"><b style="font-size:.18rem">＋&nbsp</b>管理品牌分类</a>
    {% endif %}

</section>
  <section class="service-table">
   <table id="table">
      <caption></caption>
        <thead class="my_thead">
          <tr>
            <th>序号</th>
            <th>品牌ID</th>
            <th>品牌名</th>
            <th>品牌描述</th>
            <th>图片</th>
            <th>分类</th>
{#            <th>首页排序</th>#}
            <th>品牌页排序</th>
            <th>状态</th>
            <th>列表标签</th>
            <th>分类列表排序</th>
            <th>操作</th>
          </tr>
        </thead>
            <div id="loading" style="display:none;">
              <img src="{% static 'images/loading.gif' %}"/>
            </div>
      <tbody id="tbody">

      </tbody>
   </table>
     <div class="no_content" ><p>未找到相关内容，请重新搜索</p></div>
      <div id="pagination" ></div>
      <script src="{% static 'js/cms/pagination.js' %}"></script>
    <!-- <button id="btn" onClick="CreateTable()">添加服务</button> -->
      <script type="text/javascript">
              var g_per_page = 20;
              var g_cur_page = 1;
              $(document).ready(function(){
                setNavBg("cps");
                  requestData(1);
              });
                  function CreateTable(data) {
                    if (data.length > 0) {
                      $(".my_thead").show();
                    }
                    if (data.length == 0) {
                      $(".no_content").show();
                      $(".my_thead").hide();
                    }
                    var tbody = $("<tbody>");
                    var cellCount = 11;
                    var rowCount = data.length;
                    $("#table tbody").remove();
                    tbody.appendTo($("#table"));
                    for (var i = 0; i < rowCount; i++) {
                      var tr = $("<tr></tr>");
                      tr.appendTo(table);
                      for (var j = 0; j < cellCount - 1; j++) {
                        var td = $("<td>" + data[i][j] + "</td>");
                        if (j == 4) {
                          if (data[i][j] != "") {
                            var td = $("<td style='overflow:visible'> <img src=" + getImgURL(data[i][j]) + " class='small' data-toggle='modal' data-target='#myModal_img'></td>");
                          }

                        }

                        if(j == 9){
                          var td = $("<td><input type='text' name='sort' id='sort_" +data[i][1]+ "' value='"+ data[i][j] +"' /><br><a href='#'' onclick='exchange_sort("+data[i][1]+")'>确定</a></td>");
                        }
                        td.appendTo(tr);
                      }

                      //根据传递参数，显示操作状态，0为可见，1为可编辑
                      if (data[i][cellCount - 1] == 1) {
                        var td = $("<td><a href='{% url 'edit_cp' %}?id=" + data[i][cellCount] + "' class='edit glyphicon glyphicon-edit'></a><a href='' class='del glyphicon glyphicon-trash' data-toggle='modal' data-target='#myModal-del'  onclick='confirms(" + data[i][cellCount] + ")'></a></td>");
                      } else if (data[i][cellCount - 1] == 0) {
                        //不显示编辑状态
                        var td = $("<td><a class='glyphicon glyphicon-eye-open'></a></td>");
                      }
                      //var td = $("<td><a href='{% url 'edit_action' %}?id=" + data[i][cellCount] + "' class='edit glyphicon glyphicon-edit'></a><a href='' class='del glyphicon glyphicon-trash' data-toggle='modal' data-target='#myModal-del'  onclick='confirms(" + data[i][cellCount] + ")'></a></td>");
                      td.appendTo(tr);
                    }

                    $("table").append("</tbody>");

                  }
                  $("input").keydown(function(e){   //按下enter键进行搜索
                    var e = e || event,
                                 keycode = e.which || e.keyCode;
                  if (keycode==13) {
                  $(".search-btn").trigger("click");
                             }
                            });
               function clearInput(){ //清除input内容
                         $("#search").val("");
                             requestData(1);
                           };
               function exchange_sort(cpId){
                          var sort = $('#sort_'+cpId).val();
                          $.ajax("{% url 'exchange_sort_cp' %}",{
                                type:"post",
                                cache:false,
                                data:{
                                  "cp_id":cpId,
                                  "sort":sort
                                },
                                success:function(result){
                                  if (result == 0) {
                                        alert("调整排序完毕");
                                        requestData(g_cur_page);
                                    }
                                }

                            });
                          
                        };

               function requestData(cur_page)
               {
                   currentpage = cur_page-1;
                   g_cur_page = cur_page;
                   $.ajax("{% url 'search_cps' %}",{
                        type:"get",
                        cache:false,
                        data:{
                            key: $("#search").val(),
                            cur_page: cur_page,
                            per_page: g_per_page
                        },
                        beforeSend:function(XMLHttpRequest){
                              $("#loading").show();

                        },
                        success:function(result){
                            var data = eval(result)[0];
                            var num_pages = eval(result)[1];
                            CreateTable(data);
                            pagination(num_pages);
                            if (data.length > 0) {
                            $(".my_thead").show();
                            $(".no_content").hide();
                        }
                        },
                        error:function(result){
                            console.log(result);
                        },
                        complete:function(result){
                              // console.log(result);
                              $("#loading").hide();
                              $(".pagelist li").eq(currentpage).css('background', '#34cb95');
                              if(currentpage>5){
                              $(".pagelist li").eq(currentpage-5).prevAll().hide();
                            }
                        }
                  })
               }

                        function confirms(id){
                           var del_info = $(event.target).parent().siblings().eq(2).text();
                           // del_info = "分组名为"+del_info;
                           console.log(del_info);
                           $("span.del_info").text(del_info);

                            $(".btn-primary").off("click").one("click",function(event) {
                              delData(id);
                            });
                                           }
                        function delData(id)
                        {
                            $.ajax("{% url 'del_cp' %}", {
                                type: "post",
                                cache: false,
                                data: {
                                    id: id
                                },
                                beforeSend: function (XMLHttpRequest) {
                                   $("#loading").show();
                                },
                                success: function (result) {
                                    if (result == 0) {
                                        requestData(g_cur_page);
                                    }
                                },
                                error: function (result) {
                                    console.log(result);
                                },
                                complete: function (result) {
                                   $("#loading").hide();
                                }
                            });
                        }

                                //商品，服务和分类的通用函数
                      function addEventConfirm(id, url) {
                          var some_id = $('#' + id).val();
                          var channel_id = $("#channel_id").val();
                          var params = {channel_id: channel_id};
                          var datas = $.param(params) + "&" + id + "=" + some_id;
                          $.ajax({
                              type: "post",
                              url: url,
                              data: datas,
                              dataType: "json",
                              success: function (data) {
                                  // console.log("数据：" +data);
                                  if (data == 1) {
                                      $(".class_repeat").show();
                                  }
                                  else {
                                      $('#myModal_' + id).modal('toggle');
                                      window.location.reload();
                                  }

                              },
                              error: function (data) {
                                  console.log("errors is" + data);

                              }
                          })
                      }
                  </script>
              </section>
{% endblock %}
